In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
# Determine if there are any missing values in the school data.
school_data_df.count()
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [6]:
# Determine if there are any missing values in the student data.
student_data_df.count()
student_data_df.isnull()
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [7]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull()
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [8]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [9]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [10]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [11]:
# # Combine the data into a single dataset.
# school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
# school_data_complete_df.head()

In [12]:
# Put the student names in a list.

student_names = student_data_df["student_name"].tolist()
student_names

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 'Dr. Richard Scott',
 'Bonnie Ray',
 'Bryan Miranda',
 'Sheena Carter',
 'Nicole Baker',
 'Michael Roth',
 'Matthew Greene',
 'Andrew Alexander',
 'Daniel Cooper',
 'Brittney Walker',
 'William Long',
 'Tammy Hebert',
 'Dr. Jordan Carson',
 'Donald Zamora',
 'Kimberly Santiago',
 'Kevin Stevens',
 'Brandi Lyons',
 'Lisa Davis',
 'Kristen Lopez',
 'Kimberly Stewart',
 'Christopher Parker',
 'Chelsea Griffith',
 'Cesar Morris',
 'Melanie Decker',
 'Tracey Oconnor',
 'Kelly James',
 'Nicole Brown',
 'Bobby Harris',
 'Brian Fernandez',
 'Candace Phelps',
 'Amy Gonzalez',
 'Steven Green',
 'Benjamin Carlson',
 'Kevin Bailey',
 'Jesse Newton',
 'Kimberly Mercado',
 'Gregory Roberts',
 'Matthew Mayer',
 'Jennifer Parks',
 'John Carlson',
 'Megan Roberts',
 'Debra Flores',
 'Heidi Jackson',
 'Denise Bradford',
 'Ellen Brown',
 'Amy Perkins',
 'Natalie Mitchell',
 'Tiffany Gutierrez',
 'Jennifer Hess',
 'Christine Fletcher',
 'Jon Smith',
 'Tracey Yates',
 'Jerry Gordon',
 'Michael Cox',
 'Madeline Snyder MD',
 'Allison King',
 'Theresa Meyer',
 'Jared Wood',
 'Eric Maynard',
 'Mark Owens',
 'Ronnie Conley',
 'Kimberly Davis',
 'Amy Mitchell',
 'Mr. Dylan Taylor MD',
 'Elizabeth Henderson',
 'James Lopez',
 'Michael Morgan',
 'Angela Francis',
 'Breanna Taylor',
 'Jason Johnson',
 'Kyle Martin',
 'Dr. Scott Gill',
 'Lisa Long',
 'Erin Liu',
 'Marcus Richards',
 'Jason Thompson',
 'Elizabeth Mckinney',
 'Jessica Bailey',
 'Lisa Frye',
 'Lindsey Baker',
 'Lisa Ramirez',
 'Joseph Butler',
 'Tina Lynch',
 'Leah Benitez',
 'Elizabeth Parker',
 'Melissa Hunter',
 'Miss Madison Everett',
 'Ronald Garcia',
 'Mark Cherry',
 'Ryan Stokes',
 'Isaiah Maldonado',
 'Micheal Dennis',
 'Kevin Martinez',
 'Jessica Smith',
 'Dawn Trujillo',
 'Virginia Ramirez MD',
 'Marc Hernandez',
 'Jose Gonzalez',
 'Jason Dennis',
 'Gary Morris',
 'William Mcdonald',
 'Michael Savage',
 'Alexis Todd',
 'David Hansen',
 'Steven Mendez',
 'Ryan Lynch',
 'Timothy Marks',
 'Alexander Johns',
 'Kenneth Chavez',
 'Dennis Williams',
 'Michael Roy',
 'Richard Ryan',
 'Matthew Reyes',
 'Stephanie Ward',
 'Christopher Tucker',
 'Daniel Jones',
 'Devin Craig',
 'Erin Prince',
 'Bernard Ortiz',
 'Nicole Miller',
 'Christopher Fritz',
 'Bonnie Mckinney',
 'Troy Nelson',
 'Jennifer Lee',
 'Ronald Ward',
 'Nathaniel Hampton',
 'Michael Travis',
 'James Taylor',
 'Thomas Strickland',
 'Brittany Jackson',
 'Marisa Lowe',
 'Nicole Thomas',
 'Matthew Rodriguez',
 'Kent Fernandez',
 'Michelle Martin',
 'John Sparks',
 'Ann Blake',
 'Melissa Miller',
 'Steven Houston',
 'Kristen Anderson',
 'Cory Jones',
 'Jennifer Mora',
 'Dennis Griffin',
 'Darryl Brown',
 'Martin Mosley',
 'Joyce Diaz',
 'Jeffrey Rose',
 'Jamie Moreno',
 'Catherine Williams',
 'Lauren Byrd',
 'Vanessa Frazier',
 'Stephen Bryant',
 'Lawrence Liu',
 'Joseph Larsen',
 'Susan Collier',
 'Meagan Jensen',
 'Julie Harper',
 'Meghan Carroll',
 'Wanda Horton',
 'Mary Campbell',
 'Jennifer Rodgers',
 'Heather Cooper',
 'Ryan Perez',
 'Ryan Cox',
 'Darren Zavala',
 'Joseph Morales III',
 'Aaron West',
 'James Combs',
 'Curtis Garner',
 'Sarah Miller',
 'Samantha Thomas',
 'Robert Atkins',
 'Alexis Crawford',
 'Ryan Maddox',
 'Jonathan Meyer',
 'Donna Wagner',
 'William Kennedy',
 'Kimberly Martinez',
 'Matthew Anderson',
 'Kari Miller',
 'Jenna Luna',
 'Justin Contreras',
 'Mary Fox',
 'Joseph Perkins',
 'Kelly Phillips',
 'Justin Thornton',
 'Joshua Barber',
 'Travis Jackson',
 'Jordan Beasley',
 'Kevin Allen',
 'Victoria Harris',
 'Victoria Joseph',
 'Brandy Marshall',
 'Ryan Jimenez',
 'Michael Chan',
 'Christopher Phillips',
 'Kevin Murphy',
 'Vanessa Harper',
 'James Ferguson',
 'Carol Schroeder',
 'Jerry Phillips',
 'Kristin Wade',
 'Jessica Warner',
 'Dorothy Burke',
 'Bethany Walter',
 'Melissa Avery',
 'Daniel Sutton',
 'Ryan Johnson',
 'Timothy Quinn',
 'Zachary Allen',
 'Lauren Schmitt',
 'Stephanie Armstrong',
 'Ruben Rivera',
 'Patricia Petty',
 'Joseph Jacobs',
 'Bianca Wilson',
 'Donald Perez',
 'Curtis Gomez',
 'Courtney Brown',
 'Nicole Randall',
 'Steven Lambert',
 'Anthony Alvarez',
 'Shawn Farrell',
 'Jesus Schmidt',
 'Laura Wright',
 'Steven Smith',
 'Norman Thompson',
 'Anthony Wright',
 'Kayla Watts',
 'Aimee Johnson',
 'Heidi Scott',
 'Anthony Williams',
 'Sarah Hill',
 'Kim Wang',
 'Beth Manning',
 'Ryan Hanson',
 'James Wood',
 'Corey Greene',
 'John Carter',
 'Beth Garza',
 'Karen Jones',
 'Stephanie Poole',
 'Lisa Brown',
 'Paul Scott',
 'Evelyn Buck',
 'Terry Harrell',
 'Leah Skinner',
 'Anthony Mercado',
 'Walter Kelly',
 'Lori Evans',
 'Ashley Jones',
 'Amber Soto',
 'Patrick Phillips',
 'Linda Curry',
 'Alexander Obrien',
 'Vincent Garza',
 'Terry Marsh',
 'Angela Perkins DVM',
 'Peter Hampton',
 'David Cross',
 'Clinton Ortega',
 'Jamie Escobar',
 'Sandra Mason',
 'Craig Cole',
 'Lisa Warren',
 'Maria Howard',
 'Michael Porter',
 'John Turner',
 'Timothy Wang',
 'Amanda Taylor',
 'Karen Mckenzie',
 'Brandon Miles',
 'Christina Whitaker',
 'Nicole Peterson',
 'Ashley Moore',
 'Todd Carrillo',
 'Robert Williams',
 'Ashley Jones',
 'Vanessa Parker',
 'Robert Carlson',
 'Jared Lewis',
 'Christopher Hernandez',
 'Kimberly Harris',
 'Katrina Hill',
 'Heather Lee',
 'Donald Harmon',
 'Elizabeth Sanders',
 'Richard Ramsey',
 'Carmen Johnson',
 'Elaine Osborne',
 'Kent Burns',
 'Meagan Smith',
 'Craig Hahn',
 'Jeremy Wu',
 'Aaron Rodriguez',
 'Matthew Taylor',
 'Diana Evans',
 'Michele Pearson',
 'Erik Wagner',
 'Maria Welch',
 'Debra Martin',
 'Devon Conner',
 'Christine Patel',
 'David Lopez',
 'Nathan Baird',
 'Samuel Castillo',
 'Rebecca Payne',
 'Carl Johnson',
 'William Adams',
 'Paula Harrison',
 'Wayne Atkinson',
 'Lindsay Frank',
 'Jose Garcia',
 'Andrew Gaines',
 'Rachael Liu',
 'Donald Lewis',
 'Shane Edwards',
 'Todd Levy',
 'Joanna Moore',
 'Michael Lewis',
 'James Robinson',
 'Jeffrey Arellano',
 'Heather Allen MD',
 'Lori Villarreal',
 'Robert Harper',
 'Karen Villegas',
 'Tracey Crane',
 'Elizabeth Allen',
 'Jorge Lynn',
 'Harold Gordon',
 'Nicholas Mcclain',
 'Tanya Harris',
 'Amy Smith',
 'Kathy Morse',
 'Andrea Wood',
 'Maureen Massey',
 'Daniel Smith',
 'Alexandra Smith',
 'Caitlin Hall',
 'Jose Carlson',
 'Deborah Macias',
 'Dwayne Rice',
 'Matthew Harris',
 'Eric Bowman',
 'Samuel Ali',
 'David Miller',
 'James Moreno',
 'Brooke Austin',
 'Alisha Martin',
 'Neil Rodriguez',
 'Gary Williams',
 'Michael Pittman',
 'Stephanie Palmer',
 'Christine Perry',
 'Suzanne David',
 'Amber Smith',
 'Ryan Jones',
 'Emily Ford',
 'Kelsey Shea',
 'Katherine Wallace',
 'Erica Conway',
 'Tyler Parker',
 'Michael Parks',
 'Elizabeth Hunt',
 'Grant Jackson',
 'Daniel Matthews',
 'Diana Silva',
 'Frank Garza',
 'Terri Fischer',
 'Robert Goodwin',
 'Bobby Ruiz',
 'Stephanie Taylor',
 'Erin Hill',
 'Erin Cohen',
 'Jeffrey Morris',
 'Elizabeth Simpson',
 'Jennifer Davis',
 'Rachel Burton',
 'Joseph Wilkins',
 'Lawrence Montgomery',
 'Patricia Howard',
 'Jessica Hanson',
 'Donna Dean',
 'Edwin Reid',
 'Jodi Brown',
 'Elizabeth Richard',
 'Aaron Martinez',
 'Stephen Fischer',
 'Diana Reeves',
 'Jeffrey Eaton',
 'Evelyn Miller',
 'Christopher Kidd',
 'Sarah Adams',
 'Melinda Nelson',
 'Kevin Brooks',
 'John Bowen',
 'Tracie Abbott',
 'Allen Foster',
 'Kathryn Elliott',
 'Christopher Walker',
 'Cynthia Martin',
 'Amanda Bennett',
 'Dennis Padilla',
 'Antonio Miller',
 'Melissa Trevino',
 'Andrew King',
 'John Martinez',
 'Lauren King',
 'Stephanie Mercado',
 'William Smith',
 'Jonathan Marshall',
 'Luke Lowery MD',
 'Emily Reynolds',
 'Kevin Mclean',
 'Elizabeth Taylor',
 'Pamela Rivas',
 'Tammy Martin',
 'Holly Watkins',
 'Patrick Chen',
 'Michelle Griffin',
 'Theresa Andrews',
 'Alan Henry',
 'Dr. Larry Hines',
 'Travis Frazier',
 'Julie Jones',
 'Natalie Reynolds',
 'Jessica Cohen',
 'Jason Robinson',
 'Heather Palmer',
 'Emily Cardenas MD',
 'Scott Glover',
 'Jacqueline White',
 'Mrs. Elizabeth Espinoza DDS',
 'Toni Porter',
 'Jennifer Mejia',
 'Brenda Peterson',
 'Paul Hamilton',
 'Patricia Nguyen',
 'James Ho',
 'Elizabeth Cohen',
 'Stephanie Lane',
 'Dawn Rhodes',
 'Theresa Robinson',
 'Breanna Mosley',
 'Carmen Wilson',
 'Ian Brown',
 'Kathleen Matthews',
 'Bryan Diaz',
 'Gina Sweeney',
 'Alan Garcia',
 'Erik Wheeler',
 'Stephanie Robles',
 'Samantha Hanson',
 'Christopher Williams',
 'Stephanie Hart',
 'Mrs. Lisa Becker',
 'Bianca Johnson',
 'Amy Steele',
 'Gina Contreras',
 'Jaime Alexander',
 'Kevin Coleman',
 'Caitlin Williams',
 'Joseph Lloyd',
 'Carrie Hernandez',
 'Mr. Travis Young',
 'Francis Wright',
 'Joel Harper',
 'Eduardo Park',
 'Melissa Yoder',
 'Donna Campbell',
 'Connie Delacruz',
 'Luis Parker',
 'Pamela Watts',
 'Lindsey Mitchell',
 'Brenda Price',
 'Joseph Howard',
 'Amy Evans',
 'Paula Fernandez DVM',
 'Amber Cunningham',
 'Preston Wheeler',
 'James Lopez',
 'Chad Drake',
 'Samuel Blackburn',
 'Shawn Nielsen',
 'Eric Perez',
 'Kevin Montgomery',
 'Terry Thomas',
 'Kim Meyer',
 'Michael Townsend',
 'Ronnie Rodriguez',
 'Savannah Smith',
 'Shane Nguyen',
 'Michael Brown',
 'Robert Young',
 'Daniel Griffin',
 'James Johnson',
 'Mary Cox',
 'Tina Aguirre',
 'Jillian Mcdonald',
 'Matthew Branch',
 'Christopher Jordan',
 'Victor Mcguire',
 'Erin Arnold',
 'Nicholas Wu',
 'Kristen Wilson',
 'Morgan Moore',
 'Stephen Smith',
 'Jeremy Romero',
 'Julie Bush',
 'Brittany Taylor',
 'James Kim',
 'Ashley Roberts',
 'Brandon Johnson',
 'David Davenport',
 'Mark Washington',
 'Alicia Marshall',
 'Barbara Santana',
 'Samantha Parker',
 'Joseph Walters',
 'Michael Zamora',
 'Kyle Cobb',
 'Jill Clark',
 'Sarah Warren',
 'Jennifer Robinson',
 'Patricia Johnson',
 'Henry Evans',
 'Alexander Ramsey',
 'Brandon Stephens',
 'Jeff Holland',
 'Samuel Schultz',
 'Brett Johnson',
 'Daniel Sherman',
 'Justin Mccall',
 'Jonathan Evans',
 'Jacqueline Kennedy',
 'Martin Stephenson',
 'Lindsey Lane',
 'Jessica Hart',
 'Edward Lucas',
 'Lisa Osborne',
 'Hannah Black',
 'Alexander Paul',
 'Brenda Wong',
 'Thomas Delgado',
 'Jeremy Sutton',
 'Paula Donaldson',
 'Valerie Thompson',
 'John Schaefer',
 'Jesus Manning',
 'Tyrone Lawson',
 'Carl May',
 'Brittany Russell',
 'Philip Edwards',
 'Robert Aguilar',
 'Aaron Russo',
 'Tracy Andrade',
 'Amy Sullivan',
 'Howard Beck',
 'Dr. Xavier Bell II',
 'Dawn Schultz',
 'Caleb Lucas',
 'Barbara Gonzalez',
 'Charles Yang',
 'David Gallagher',
 'Bethany Vargas',
 'Jennifer Schultz',
 'Paula Marshall',
 'Jordan Elliott',
 'Samantha Mcmillan',
 'Judith Johnson',
 'Grace Palmer',
 'Brandon Ramirez',
 'Carol Smith',
 'Matthew Odom',
 'Erika Gray',
 'Donna Kramer',
 'Jonathan Snyder',
 'Frank Howe',
 'Amy Beck',
 'Lori Holmes',
 'Rebekah Hampton',
 'Perry Bishop',
 'Andrew Hanson MD',
 'Jody Hughes',
 'Anna Garcia',
 'Colleen Walker',
 'Danny Bridges',
 'Kristina Ford',
 'Sabrina Davidson',
 'Alexander Freeman',
 'Jack Davis',
 'Victor Rivera',
 'Elizabeth Pena',
 'Neil Castro',
 'Michael Briggs',
 'Anna Andersen',
 'Elizabeth Oconnor',
 'Zachary Brooks',
 'Scott Jackson',
 'Mary Fuentes',
 'Denise Reyes',
 'Janice Collier',
 'Tina Barber',
 'Keith Rojas',
 'Michelle Decker',
 'James Smith',
 'Alexandra Thompson',
 'Jacqueline Campbell',
 'Austin Clark',
 'Brooke Thomas',
 'Molly Smith',
 'Pamela Beck',
 'Timothy Morris',
 'Lauren White',
 'Jessica Beltran',
 'Alexandra Jones',
 'Evelyn Rice',
 'Stephen Ellis',
 'Caroline Smith',
 'Fred Case',
 'Crystal Anderson',
 'Jordan Gross',
 'Marie Harris',
 'Charles Hayes',
 'Beverly Sheppard',
 'Denise Solis',
 'Alexander Myers',
 'Sally Robertson',
 'Steven Morris',
 'Nina Flores',
 'Miguel Patterson',
 'John Simpson',
 'Charles Cruz',
 'Monica Davis',
 'James Fields',
 'Kevin Frederick',
 'Jeremy Soto',
 'Ronald Harris',
 'Carol Stewart',
 'Albert Durham',
 'James Sanchez',
 'John Adams',
 'Cody Williams',
 'Ernest Love',
 'Tommy Smith',
 'Jared Anderson',
 'Jennifer Yang',
 'Joe Mercado',
 'Mr. Roberto Wright MD',
 'Michael Smith',
 'William Park',
 'Benjamin Williams',
 'Dean Perez',
 'Mr. Dale Miller',
 'Marissa Russell',
 'Mary Gonzalez DDS',
 'April Jackson',
 'William Hayes',
 'Meghan Holloway',
 'Amy Coleman',
 'James Green',
 'Michael Tran',
 'Joseph Cortez',
 'Anita Moss',
 'Benjamin Stokes',
 'Michael Li',
 'Alexander Rosales',
 'Katie Dawson',
 'Shelly Erickson',
 'Kathryn Turner',
 'Jacob Lee',
 'Ryan Smith',
 'Joshua Fernandez',
 'Mia Roach',
 'William Rodriguez',
 'Wanda Cruz',
 'Pamela Hall',
 'David Smith',
 'Jason Brown',
 'Chelsea Alexander',
 'Kimberly Tate',
 'Daniel Williams',
 'Terri Jacobson',
 'Paul Harris',
 'Jessica Thompson',
 'Nancy Hawkins',
 'Deborah Phillips',
 'Mark Mendoza',
 'Stephen Williamson',
 'Jennifer Strong',
 'Matthew Moore',
 'Raymond Parker',
 'Lee Evans',
 'Curtis Rodriguez',
 'Sara Morris',
 'Dawn Palmer',
 'Brianna Benson',
 'Luis Watts',
 'Mrs. Cindy Brown',
 'Summer Sandoval',
 'Ashley Smith',
 'Randy Wallace',
 'Angela Simmons',
 'Sandra Haley',
 'George Morgan',
 'Melissa Ali',
 'Matthew Oliver',
 'Michael Kirk',
 'Terry Khan',
 'Kristie Elliott',
 'Joel Campbell',
 'Anthony Henderson',
 'Brent Christensen',
 'Heidi Hayes',
 'Ryan Mcbride',
 'Kyle Murillo',
 'Angela Powell',
 'Jeanette Simmons',
 'Adam Vance',
 'Kristen Murray',
 'Jessica Burnett',
 'Alex Walker',
 'Robert Phillips',
 'Elizabeth Martinez',
 'Kristina Young',
 'Sarah Morgan',
 'Cheryl Harding',
 'Keith Hunter',
 'Todd Williams',
 'James White MD',
 'Kyle Johnson',
 'Andrea Suarez',
 'Michael Sanchez',
 'Jaime Torres',
 'Donald Gill DDS',
 'Austin Lee',
 'Adrian Bowman',
 'Julie Perez',
 'Debra Maxwell',
 'Bradley Phillips',
 'Sonya Simmons',
 'Eric Miller',
 'Charles Berger',
 'Mary Monroe',
 'Destiny Burns',
 'Patrick Khan',
 'Nathaniel Henson',
 'Larry Miller',
 'Timothy French',
 'Xavier Mitchell',
 'Jason Crosby',
 'Joshua Johnson',
 'Alyssa Clark',
 'Jonathan Cooper',
 'Mark Hunt',
 'Norman Moore',
 'Brian Atkins',
 'Zachary Jones',
 'Danielle Wong',
 'Patricia Lane',
 'Joshua Rose',
 'Hannah Montes',
 'Mrs. Catherine Williams MD',
 'Michael Jenkins',
 'James Scott',
 'Evan Ballard',
 'Andrea Miller',
 'Jasmine Lynch',
 'Jennifer Fox',
 'Jared Castro',
 'Eugene Cox',
 'Wendy Wilson',
 'Debbie Smith',
 'Michael Fletcher',
 'Jay Waters',
 'Melissa Martinez',
 'Cory Howard',
 'Mitchell Hanson',
 'Corey Boyer',
 'Elizabeth Gonzalez',
 'Robert Hutchinson',
 'David Hernandez',
 'Tammy Jordan',
 'Denise Johnson',
 'Brandi Copeland',
 'Evan Marshall',
 'Gregory Long',
 'Kristen Underwood',
 'Walter French',
 'Edwin Thompson',
 'Edward Rivera',
 'Brandon Wilson',
 'Alejandra Todd',
 'Dana Hoffman',
 'David Howard',
 'Ashley Caldwell MD',
 'Cindy Horn',
 'Kevin Armstrong',
 'Stacey Porter',
 'Patrick Hunt',
 'David White',
 'Tammy Black',
 'Joanna Williams',
 'Becky Moran',
 'Brenda Smith',
 'Gabrielle Webb',
 'Mr. Jared Campbell',
 'Ryan Jenkins',
 'Thomas Shepard',
 'Jeremiah Boyd',
 'Matthew White',
 'Christina Anderson',
 'Edward Olson',
 'Emily Bryant',
 'Amy Guzman',
 'Kathleen Owens',
 'John Davila',
 'Nicole King',
 'Jason Villarreal',
 'Matthew Washington',
 'Peter Simpson',
 'Cristian Espinoza',
 'Steven Fry',
 'David Miller',
 'Tamara Hernandez',
 'Jordan Lewis',
 'Carol Anderson',
 'Michael Moreno PhD',
 'Nicholas Logan',
 'Paul Anderson',
 'Jason Young',
 'Wesley Martin',
 'Karen Wall',
 'Tara Parker MD',
 'Michael Reyes',
 'Amy Henderson',
 'Jessica Reed',
 'Joseph Miranda',
 'Mackenzie Jones',
 'Jon Espinoza',
 'Kelly Medina',
 'Jason Rubio',
 'Jennifer Munoz',
 'Christopher Warner',
 'Vincent Thomas',
 'Andrew Young',
 'David Jenkins',
 'Daniel Stephens',
 'Elizabeth Lewis',
 'Aaron Moore',
 'Lisa Hogan',
 'Shawn Williams DVM',
 'Michele Dickerson',
 'Dr. Alicia Martinez',
 'Mr. Timothy Anderson',
 'Sierra Jackson',
 'Sharon Taylor',
 'Jeffrey Smith',
 'Mark Taylor',
 'Christina Ross',
 'Judy Hall',
 'Jennifer Fox',
 'Kenneth Moran',
 'Gerald Ferguson',
 'Albert Carter',
 'Michael Reilly',
 'Kathleen Schwartz',
 'Stacey Harris',
 'Mrs. Paula Lee',
 'Adrian Black',
 'Rita Moreno',
 'Jason Perry',
 'Scott Ortiz',
 'Randy Mueller',
 'Samantha Anderson',
 'Phillip Brown',
 'Christina Kerr',
 'Derrick Hill',
 'Nathan Bond',
 'Marie Wilson',
 'Caitlin Jones',
 'Barbara Campbell',
 'Katie Gonzales',
 'Mr. Elijah Hall',
 'James Sanders',
 'Nicholas Martinez',
 'Maria Mack',
 'Mary Mason',
 'Tiffany Campbell',
 'Mr. Raymond Stone',
 'Dominique Henderson',
 'Martin Williams',
 'Hannah Parker',
 'Susan Webb',
 'Rachel Johnson',
 'Darren Davis',
 'Tim Carr',
 'Jesus Ryan',
 'John Hays',
 'Scott Stewart',
 'Alexandra Roberts',
 'Amanda Norman',
 'James Moody',
 'Brenda Jones',
 'Kathy Smith',
 'Raymond Clark',
 'Ashley Martin',
 'Tamara Flowers',
 'Cesar Hanson',
 'Ross Strickland',
 'Randy Moore',
 'Henry Andersen',
 'Paul Martin',
 'Sarah Stanley',
 'Jordan Lewis',
 'Ashley Richardson',
 'Michael Brown',
 'Jason Davis',
 'Wendy Mcclain',
 'Troy Williams',
 'Carrie Alexander',
 'Kyle Ware',
 'Michael Robinson',
 'Roger Wilson',
 'Teresa Fuller',
 'Craig Silva',
 'Duane Thomas',
 'Jon Crosby',
 'Jon Steele',
 'Daniel Shaw',
 'Gwendolyn Williams',
 'Angela Hess',
 'Cameron Arnold',
 'Janice Garcia',
 'Anne Bullock',
 'Katie Moody',
 'Kayla Rivas',
 'Danny Pearson',
 'Billy Robles',
 'Michelle Delgado',
 'Cindy Harrison',
 'John Dickerson MD',
 'Tina Armstrong',
 'Mr. Alex Franklin',
 'Ryan King',
 'Christine Guzman',
 'Helen Malone',
 'Benjamin Carpenter',
 'Mrs. Jessica Dunn',
 'Jessica Kaiser',
 'Brandon Black',
 'David Hernandez',
 'Brenda Turner',
 'Katherine Black',
 'Larry Santos',
 'Zachary Dominguez',
 'Tanya Fernandez',
 'Joseph Nichols',
 'Rebecca Martinez',
 'Traci Ramirez',
 'Ryan Bauer',
 'Joshua Williams',
 'Devon Foley',
 'Heidi Walter',
 'Mario Nguyen',
 'Jordan Hernandez',
 'William Miller',
 'Nicholas Chung',
 'Christine Cooley',
 'Carrie Nelson',
 'Crystal Fowler',
 'Lori Taylor',
 'Mr. Michael Stevenson',
 'Matthew Holmes',
 'David Walls',
 'Megan Martin',
 'Karen Peterson',
 'Kristen Wallace',
 'Mark Peterson',
 'Jason Jones DDS',
 'Keith Barber',
 'Patrick Green',
 'Antonio Lopez',
 'Travis Peterson',
 'Gabriel Hunter',
 'Amanda Ross',
 'Samuel Thompson',
 'Robert Bowman',
 'Cynthia Cox',
 'Brittany Miller',
 'Eric Torres',
 'Sandra Calhoun',
 'Jacob Bailey',
 'Jessica Harris',
 'Molly Carr',
 'Keith Davis',
 'Adriana Wade MD',
 ...]

In [13]:
# Create a new list and use it for the for loop to iterate through the list.
students_to_fix = []

# Use an if statement to check the length of the name.
# If the name is greater than or equal to "3", add the name to the list.

for student in student_names:
    
    if len(student.split()) >= 3:
        students_to_fix.append(student)
    

# Get the length of the students whose names are greater than or equal to "3".
students_to_fix
#len(students_to_fix)

['Dr. Richard Scott',
 'Dr. Jordan Carson',
 'Madeline Snyder MD',
 'Mr. Dylan Taylor MD',
 'Dr. Scott Gill',
 'Miss Madison Everett',
 'Virginia Ramirez MD',
 'Joseph Morales III',
 'Angela Perkins DVM',
 'Heather Allen MD',
 'Luke Lowery MD',
 'Dr. Larry Hines',
 'Emily Cardenas MD',
 'Mrs. Elizabeth Espinoza DDS',
 'Mrs. Lisa Becker',
 'Mr. Travis Young',
 'Paula Fernandez DVM',
 'Dr. Xavier Bell II',
 'Andrew Hanson MD',
 'Mr. Roberto Wright MD',
 'Mr. Dale Miller',
 'Mary Gonzalez DDS',
 'Mrs. Cindy Brown',
 'James White MD',
 'Donald Gill DDS',
 'Mrs. Catherine Williams MD',
 'Ashley Caldwell MD',
 'Mr. Jared Campbell',
 'Michael Moreno PhD',
 'Tara Parker MD',
 'Shawn Williams DVM',
 'Dr. Alicia Martinez',
 'Mr. Timothy Anderson',
 'Mrs. Paula Lee',
 'Mr. Elijah Hall',
 'Mr. Raymond Stone',
 'John Dickerson MD',
 'Mr. Alex Franklin',
 'Mrs. Jessica Dunn',
 'Mr. Michael Stevenson',
 'Jason Jones DDS',
 'Adriana Wade MD',
 'Erica Hurley MD',
 'Dr. Garrett Wright',
 'Mr. James Allen',
 'Mr. Timothy Harper MD',
 'Dale Brown MD',
 'Dr. Christina Moore',
 'Angela Peterson MD',
 'Jennifer Ferguson MD',
 'Anthony Wilson DDS',
 'Dr. Jessica Lopez',
 'David Miller Jr.',
 'Dr. John Jones',
 'Ms. Samantha Brown',
 'Cynthia Hansen DVM',
 'Rebecca Montoya MD',
 'Dr. Jacob Matthews',
 'Dr. Jacob Bell',
 'Mr. Bruce Thomas',
 'Robert Martin MD',
 'Mrs. Marcia Jones PhD',
 'Reginald Garcia IV',
 'Patricia Smith MD',
 'Amy Dyer DDS',
 'Brian Hall DDS',
 'Douglas Levy DDS',
 'Mr. Eric Ibarra',
 'Benjamin Ramirez MD',
 'Raymond Freeman DDS',
 'Carla Reeves MD',
 'Dr. Donald Williams',
 'Mr. John Carter',
 'William Jackson DVM',
 'Mr. Mitchell Cooper',
 'Kevin Brown IV',
 'Mrs. Kathleen Reed',
 'Donna Robinson MD',
 'Mrs. Dawn Olson DDS',
 'Mr. Dustin Glover',
 'Alexis French MD',
 'Lisa Guerrero MD',
 'David Nguyen DVM',
 'William Washington Jr.',
 'Julie Patterson MD',
 'Mr. James Kelly',
 'Dr. Robert Martin',
 'Darlene Thomas PhD',
 'Mr. Juan Jenkins',
 'Mr. Juan Bryant II',
 'Mr. Matthew Coleman',
 'Bonnie Hammond MD',
 'Kathleen Harris DDS',
 'Steven Velez DDS',
 'Tammy Cruz DDS',
 'Dr. Marie Williams',
 'Kenneth Paul Jr.',
 'Mr. Jose Morris',
 'Scott Rivers III',
 'Melissa Rodriguez MD',
 'Geoffrey Ortiz MD',
 'Matthew Stewart MD',
 'Sandra Thompson DDS',
 'Mark Myers Jr.',
 'Mrs. Maria Smith DDS',
 'Dr. Kimberly Clements',
 'Dr. Kenneth Webb',
 'Amanda Patterson DVM',
 'Miss Tara Banks DDS',
 'Nancy Brown DVM',
 'Chase Boyd MD',
 'Mr. James Spence',
 'Miss Colleen Stewart DDS',
 'Mr. Todd Greene PhD',
 'Amanda Hamilton DDS',
 'Mrs. Lisa Rowland',
 'Mr. Eric Moon',
 'Mrs. Alicia Kelly DDS',
 'Mr. Michael Norton Jr.',
 'Mr. James Crosby',
 'Mr. Sean Pena Jr.',
 'Kathy Lucero DVM',
 'Dustin Ferguson DDS',
 'Dr. James Patterson',
 'Dr. Juan Cobb MD',
 'Victoria Garcia MD',
 'Michael Evans DVM',
 'Miss Ebony Bell',
 'Mr. Justin Mullins DDS',
 'Mrs. Jill Walker',
 'Mr. Eric Hicks',
 'Tara Williams DVM',
 'Dr. Jessica Watkins',
 'Mr. Joseph Turner',
 'Cody Mueller Jr.',
 'Kiara Williams MD',
 'Mathew White Jr.',
 'Steve Hendricks MD',
 'Mr. Victor Duarte',
 'Dr. Stacy Maynard',
 'Mr. Steven Snyder PhD',
 'Jessica Warner PhD',
 'Trevor Summers DDS',
 'Maria Doyle MD',
 'Stacie Walker DDS',
 'Megan House DVM',
 'Ms. Deborah Coleman',
 'Dr. Ryan Barker',
 'Mr. Michael Cox',
 'Mrs. Rebecca Martin DVM',
 'Sara Jacobs MD',
 'Mr. Jason Daugherty Jr.',
 'Mrs. Natalie Holder MD',
 'Charles Hernandez DDS',
 'Dr. Charles Lawrence',
 'Mr. Tyler Walker',
 'Janet Whitaker MD',
 'Jeremy Watkins MD',
 'David Martinez DDS',
 'Kimberly Olsen DDS',
 'Dr. Nicole Roy',
 'Mr. Justin Maxwell',
 'Danielle Robinson DDS',
 'Mrs. Susan Chase DDS',
 'Mr. Alex Gonzales DDS',
 'Leonard Webster II',
 'David Taylor PhD',
 'Mr. Christopher Stuart',
 'Mr. Kevin Wilson',
 'Mr. John Walters',
 'Breanna Peterson MD',
 'Terri Quinn PhD',
 'Christian Reynolds DDS',
 'Mr. Donald Gray',
 'Dr. Shawn Brown',
 'Samantha Salas MD',
 'Valerie Thomas DDS',
 'Mrs. Gina Anderson',
 'Michael Stein Jr.',
 'Mr. Robert Day',
 'Justin Hernandez DDS',
 'Mrs. Mikayla White',
 'Dr. Edward Palmer',
 'Elizabeth Coleman MD',
 'Alexandra Hood PhD',
 'Michael Gonzalez DDS',
 'Ryan Phillips Jr.',
 'Ashley Jones DDS',
 'Susan Trujillo MD',
 'Carol Baker MD',
 'Kelly Ibarra MD',
 'Mrs. Crystal Perez',
 'Mr. Joshua Jensen MD',
 'Ms. Vanessa Ortiz DDS',
 'Mr. Jay Navarro',
 'Dr. Jimmy Smith MD',
 'John Compton DDS',
 'Mario Wheeler PhD',
 'Mr. Joshua Simon',
 'Alicia Ferguson DVM',
 'Dr. Amy Melendez',
 'Gloria Fritz DDS',
 'Dr. Michael Miller',
 'Mrs. Alexandra Taylor',
 'Dr. Jennifer Ramirez MD',
 'Mrs. Amy Walker MD',
 'David Dickson MD',
 'Amanda Mills DDS',
 'Mr. Jason West',
 'Mr. Joshua Hall',
 'Mrs. Elizabeth Mitchell',
 'Dr. Sarah Miller',
 'Allen Snyder Jr.',
 'Calvin Williams Jr.',
 'Dr. Tammy Shelton',
 'Miss Jennifer Gibson',
 'Miss Christy Robinson',
 'Mr. Michael Rhodes',
 'Deborah Huffman DDS',
 'Ronald Torres Jr.',
 'Mr. Oscar Bautista',
 'Ellen Mcgee MD',
 'Emily Andrews MD',
 'Richard Williams PhD',
 'Mr. Michael Baker PhD',
 'Dr. Robert Taylor',
 'Traci Obrien DDS',
 'Robert Harris MD',
 'Dr. Diana Martin',
 'Logan Ward MD',
 'Mrs. Janice Dixon',
 'Gabriel Smith III',
 'Linda Duran DVM',
 'Ronald Mayer PhD',
 'Mr. David Smith',
 'Brian Pitts Jr.',
 'Ms. Stephanie Rose',
 'Mr. Richard Stephens',
 'Miss Kimberly Joseph',
 'Bruce Thompson II',
 'Tony Adams DDS',
 'Dr. Annette Collins DDS',
 'Mr. Chad Hendricks',
 'Lindsey Tyler DVM',
 'Michael Drake MD',
 'Jeremy Sanders II',
 'Mr. George Goodwin MD',
 'Amanda Ramirez DDS',
 'Aaron Morris MD',
 'Mrs. Michelle Butler',
 'Mr. Robert Carson',
 'Mrs. Jennifer Martin DDS',
 'Miss Amber Wallace',
 'Mrs. Mary Hardy',
 'Jennifer Smith PhD',
 'Jodi White DDS',
 'Mr. Ryan Strickland',
 'Mr. Michael Koch',
 'Mrs. Kara Rodriguez DDS',
 'Mr. Ryan Adams',
 'Austin Johnson II',
 'Mr. Samuel Robertson DVM',
 'Benjamin Vargas DDS',
 'Mrs. Wendy Thomas',
 'Bryan Conway Jr.',
 'Brittany Hatfield DVM',
 'Mrs. Casey Hayes',
 'Johnny Byrd MD',
 'Nicole Burke MD',
 'Brett Banks DVM',
 'Mrs. Lori Johnson',
 'Michael Shea MD',
 'Jesse Thompson DDS',
 'Brooke Simpson DVM',
 'Mr. Michael Davis',
 'Mr. Thomas White',
 'Jessica Scott DDS',
 'Mr. Michael Burton',
 'Mrs. Laurie Brown',
 'Dr. Cindy Logan',
 'Nicholas Jones MD',
 'Ronald Moore II',
 'Mr. Jonathon Patrick',
 'Mr. Andrew Kemp',
 'Alexander Garcia PhD',
 'Brett Campbell MD',
 'Mrs. Paige Hall',
 'Danielle Smith MD',
 'Catherine Mendez MD',
 'Mr. David Mcdonald',
 'Mrs. Ashley Porter DDS',
 'Jason Mcdowell MD',
 'Mr. Martin Lozano',
 'Bruce Hendrix MD',
 'Pamela Cox DDS',
 'Dr. Kristina Turner',
 'Samantha Buchanan DDS',
 'Mr. Cameron Singh',
 'Mr. Steven Davis',
 'Ruth Martinez MD',
 'George White DDS',
 'Dr. Michael Johnson',
 'Joshua Garrison PhD',
 'Mr. Nicholas Rodriguez DVM',
 'Ms. Sarah Ray DVM',
 'Natalie Rivera MD',
 'Dr. Tracy Powell',
 'Mr. Jason Chavez MD',
 'Mrs. Leslie Mathews',
 'Patrick Newman DDS',
 'Mr. Michael Chapman DDS',
 'Jennifer Long PhD',
 'Matthew Anthony MD',
 'Robert Garrison IV',
 'Jamie Anderson DDS',
 'William Gonzalez Jr.',
 'Dr. Jennifer Weiss',
 'Dr. Cynthia Torres',
 'John Miranda DDS',
 'Dr. Brian Matthews Jr.',
 'Mr. Christopher Quinn',
 'Mrs. Jacqueline Rose',
 'Mrs. Angela Gray',
 'Mrs. Tara Carpenter',
 'Shannon Stevenson MD',
 'Kaitlin Warner MD',
 'Dr. Jessica Fowler MD',
 'Mrs. Catherine Armstrong',
 'John Mullins DDS',
 'Christina Benson MD',
 'Amy Martinez DVM',
 'Ashley Edwards DVM',
 'Melissa Herrera DDS',
 'Adam Arroyo DDS',
 'Dr. Amanda Cochran',
 'Eric Richards Jr.',
 'Mrs. Angela Martinez',
 'Natalie Garcia MD',
 'Mr. Dennis Duke',
 'Christopher Fleming MD',
 'Misty Beck DDS',
 'Sharon Lloyd DDS',
 'Mrs. Laura Malone MD',
 'Dr. Gabriel Flores MD',
 'Dr. Russell Gallegos',
 'Kyle Walker MD',
 'Caleb Oliver MD',
 'Mr. Cameron Erickson',
 'Pamela Oliver DVM',
 'Mariah Russell MD',
 'Jonathan Fisher DVM',
 'Ms. Sarah Mcintosh DVM',
 'Lynn Jones MD',
 'Allison Martinez DDS',
 'Jeffrey Zamora MD',
 'Kenneth Munoz Jr.',
 'Dr. Ellen Mcclure DDS',
 'Samantha Ballard MD',
 'Mariah Franco MD',
 'Mr. Daniel Smith DVM',
 'Jon Delgado Jr.',
 'Mrs. Anna Dickerson',
 'Mrs. Cynthia Martinez DDS',
 'Angela Hamilton MD',
 'Mrs. Stephanie Stone',
 'Dr. Marcus Kim MD',
 'Jordan Brewer PhD',
 'Mrs. Veronica Neal',
 'Dr. Mike Alvarez',
 'Patricia Lee DDS',
 'Andrew English Jr.',
 'Dr. Jennifer Martinez MD',
 'Dr. Donna Humphrey',
 'Mrs. Jennifer Tucker DDS',
 'Mrs. Jamie Bond',
 'Judy Mills MD',
 'Christina Jackson DDS',
 'Mr. Raymond Cox Jr.',
 'Dr. Donna Cooper',
 'Jeffrey Mcclain Jr.',
 'Mr. Joseph Hill',
 'Bryan Shaffer DVM',
 'Julie Bond MD',
 'Michael Hunter DDS',
 'Melissa Rodriguez PhD',
 'Deborah Rodriguez MD',
 'Mrs. Andrea Wilson',
 'Dr. Jonathan Woods PhD',
 'Jacob Ballard MD',
 'Mr. Brian Poole V',
 'Jeffrey Kim II',
 'Mr. Michael Gonzalez',
 'Kevin Brooks MD',
 'April Hansen PhD',
 'Mr. Brian Austin',
 'Sara Cooper DVM',
 'Kelsey Ellis MD',
 'Deborah Madden MD',
 'Dr. Brooke Silva',
 'Dr. Melissa Allen PhD',
 'Karen Thomas MD',
 'Mrs. Sophia Harper',
 'Tara Singleton MD',
 'Dr. Alison Flores',
 'Kenneth Adams MD',
 'Mrs. Natasha White',
 'Amanda Sanchez DDS',
 'Scott Campbell DVM',
 'Matthew Alexander Jr.',
 'Dr. Shane Gilmore MD',
 'Miss Paula Lawson',
 'Mrs. Theresa Roberts',
 'Kevin Reynolds Jr.',
 'Mr. David Anderson',
 'Dr. Gabrielle Morris',
 'Jacob Skinner Jr.',
 'Miss Lisa Kennedy',
 'Timothy Byrd DDS',
 'Haley Jordan PhD',
 'Deborah Mack DVM',
 'Mckenzie Morris DVM',
 'Megan Saunders MD',
 'Tina Meyer MD',
 'Harold Sutton MD',
 'James Allen DVM',
 'Dr. Lauren Perry',
 'Eric Riley MD',
 'Jamie Rogers DDS',
 'Natasha Lee MD',
 'Ms. Paula Taylor',
 'Theodore Mendez DDS',
 'Ms. Rebecca Johnson',
 'Mr. Dennis Gibson Jr.',
 'Mrs. Sherry Flores MD',
 'Dr. Alejandro Swanson',
 'Dr. Tiffany Peters DDS',
 'Christopher Crawford DDS',
 'Jimmy Shea Jr.',
 'Mr. Joshua Cunningham',
 'Mr. Travis Jackson',
 'Dr. Mary Johnson',
 'Mr. Patrick Duarte',
 'Mr. Adam Hernandez',
 'Dr. Susan Wright',
 'Miss Stephanie Perry DVM',
 'Dr. Tracey Gonzalez',
 'Paul Hernandez DVM',
 'Mrs. Jasmine Schroeder',
 'Mr. Adam Sosa',
 'Linda Sanchez DDS',
 'Mrs. Danielle Jones',
 'Benjamin Henry MD',
 'Mr. Randy Reyes',
 'Mr. Russell Elliott',
 'Mr. Thomas Smith MD',
 'Rachel Hanna DVM',
 'Robert Stephens MD',
 'Dr. Sean Duncan MD',
 'Maria Adams MD',
 'Mrs. Theresa Bauer',
 'Teresa Blair DDS',
 'Dr. Jennifer Campbell MD',
 'Dr. Melody Garcia',
 'James Reed Jr.',
 'Elizabeth Wallace MD',
 'Mrs. Gina Williams',
 'Emily Price MD',
 'Mrs. Bonnie Boyd PhD',
 'Dr. Harry Campbell',
 'Dr. Kevin Simon',
 'Dr. Eric Lambert PhD',
 'Mr. John Mathis',
 'Jason Bush DDS',
 'Ms. Amy House',
 'Dr. Kevin Diaz',
 'Mr. Kevin Benjamin',
 'Mrs. Michelle Dickerson DDS',
 'Dr. Alexandra Mays',
 'Mrs. Jessica Hebert',
 'Dr. George Cline',
 'Mrs. Whitney Scott',
 'Jennifer Jenkins DDS',
 'Mr. Gregg Rosario',
 'Scott Roth MD',
 'Evelyn Kirby MD',
 'Miranda Thompson PhD',
 'Dr. Carla Ross',
 'Mrs. Tanya Odom',
 'Jeffery Baker Jr.',
 'Mrs. Melissa Medina',
 'Daniel Lara MD',
 'Mrs. Nicole Vazquez',
 'Dr. Emily Gutierrez DDS',
 'Dr. Stephanie Smith',
 'Derrick Hughes III',
 'Mr. Eduardo James',
 'Mr. Michael Cook',
 'Mr. David Hill',
 'Dr. Ryan Orozco DVM',
 'Joshua Rivera Jr.',
 'Marc Harmon DDS',
 'Mr. Keith Peters DDS',
 'Amanda Freeman MD',
 'Dr. Michelle Carlson',
 'Dr. Stephen Vargas',
 'Colleen Frederick DVM',
 'Dr. Harry Chang',
 'Taylor Grant MD',
 'Mrs. Renee Thomas DDS',
 'Dr. Shannon Johnson MD',
 'Mrs. Christina Horne',
 'Mrs. Deborah Walters PhD',
 'Mr. Jesse Gonzalez',
 'Larry Martinez DDS',
 'Mrs. Anita Lee',
 'Dr. James Jones',
 'Dr. Tammy Jones',
 'Michael Golden MD',
 'Dr. Gavin Tate',
 'Dr. Christopher Collins',
 'Timothy Guzman Jr.',
 'Mr. Alexander Thomas',
 'Dr. James Lewis',
 'Mr. Andrew Miller',
 'Mrs. Kelly Hall',
 'Dr. Kayla Lowe',
 'Dr. Joseph Park',
 'Dr. Alfred Foster',
 'Amy Stephenson MD',
 'Stephen Black DVM',
 'Dr. Daryl Smith',
 'Stuart Gross DDS',
 'Michael Hardy DDS',
 'Mr. Kenneth Chase',
 'Mrs. Anna Everett MD',
 'Mr. Joshua Young',
 'Mrs. Robin Lopez MD',
 'Dr. Elizabeth Benson',
 'Dr. Casey Hogan',
 'Elizabeth Peterson DVM',
 'Marilyn Vasquez DVM',
 'Mr. Jack Reed',
 'Zachary Shields DVM',
 'Mrs. Molly Lopez MD',
 'Dr. Stephanie Jones',
 'Benjamin George DDS',
 'David Thomas DVM',
 'Jill Hudson DDS',
 'Mary Mccormick MD',
 'Michelle Smith MD',
 'Carl Burns MD',
 'Mr. Juan Buckley DDS',
 'Dr. Michelle Brown',
 'Jose Huffman PhD',
 'Deanna Mccarthy DDS',
 'Mrs. Robin Hughes',
 'Laura Shannon DVM',
 'Mary Fox DDS',
 'Ms. Jamie Sanchez',
 'Meredith Tucker DVM',
 'Jose Manning DDS',
 'Lisa Bruce DVM',
 'Crystal Howard DVM',
 'Mrs. Tracy Williams',
 'Mr. Jeffery Diaz',
 'Julie Baker DDS',
 'Miss Danielle Adams',
 'Lonnie Allen II',
 'Mr. Bryan Brooks',
 'Ashley Jimenez MD',
 'Tyrone Clark III',
 'Eric Mullins DDS',
 'Mr. Jonathan Walker',
 'Patricia Villarreal DDS',
 'Mrs. Megan Kaufman DVM',
 'Mathew Thompson DVM',
 'Mrs. Whitney Figueroa',
 'Miss Debbie Chavez',
 'Emma Bates MD',
 'Jeffrey Nelson Jr.',
 'Michael Mann II',
 'Mrs. Karina Perry',
 'Dr. Chelsey Williams MD',
 'Jessica Sanchez PhD',
 'Joseph Ellis PhD',
 'Mrs. Heather Gregory',
 'Mr. Steven Davies',
 'Dr. Lauren Brown',
 'Brett Garcia MD',
 'Anthony Davis DDS',
 'Anita Salazar DVM',
 'Joseph Jones DVM',
 'Edward Davis MD',
 'Mr. Brian Abbott',
 'Nicole Pennington MD',
 'Kelly Doyle DVM',
 'Franklin Chen DVM',
 'Mr. Brandon Young',
 'Nathan Welch PhD',
 'Dr. Katrina Farmer',
 'David Johnson Jr.',
 'Timothy Chavez Jr.',
 'Michele Oconnell MD',
 'Elizabeth Tran MD',
 'Dr. Grace Martin',
 'Sarah Chaney DDS',
 'Mrs. Brooke Henry DDS',
 'Dr. Lisa Coleman',
 'Brian Powell III',
 'Logan Oconnell PhD',
 'Lance Rangel Jr.',
 'Dr. Nicole King',
 'Mr. John Carroll',
 'Mr. Anthony Mccormick',
 'Samuel Ruiz MD',
 'Ms. Jennifer Richard',
 'Mr. Stephen Cochran',
 'Gary Jarvis MD',
 'Dustin Stephenson MD',
 'Mr. Derrick Campbell DDS',
 'Lori Brown MD',
 'Mrs. Brooke Rodgers',
 'Mr. David Moss',
 'Mr. Joseph Knight DDS',
 'Mrs. Brittany Duncan MD',
 'Mrs. Jennifer Edwards DVM',
 'William Cook PhD',
 'Kristina White MD',
 'Tonya Henry MD',
 'Robert Sanders PhD',
 'Noah Herrera Jr.',
 'Linda Marshall MD',
 'James Davis MD',
 'Dawn Gilbert MD',
 'Dr. Dennis Andrews',
 'Mr. John Evans',
 'Mr. Michael Brooks',
 'Shannon Ortiz MD',
 'Mrs. Brenda Bishop MD',
 'Wanda Miller MD',
 'Mrs. Sheila Wagner',
 'Mrs. Kathleen Johnson DVM',
 'Dr. Shannon Russo',
 'Chad Chavez DVM',
 'Mr. William Holt',
 'Paul Jensen PhD',
 'Cassandra Gardner DDS',
 'Mrs. Susan Klein',
 'Dr. Amanda Nguyen',
 'Mrs. Leslie Esparza',
 'Mrs. Jacqueline Simpson',
 'Mrs. Tammy Crane',
 'Dr. Wendy Oliver',
 'Katelyn Mejia DDS',
 'Dr. Miguel Rivera',
 'Mrs. Nancy Landry',
 'Renee Stewart MD',
 'Breanna Mcintyre DDS',
 'Sarah Fischer MD',
 'Ronald Berry DVM',
 'Mrs. Amanda Cook',
 'Dr. Monica Gonzalez',
 'Miss Jennifer Moore',
 'Crystal Watson DVM',
 'Suzanne Edwards DDS',
 'Lance Brown DVM',
 'Olivia Taylor DDS',
 'Mrs. Lauren Lewis',
 'Jillian Proctor MD',
 'Yvette Jacobson MD',
 'Chelsea Rhodes DVM',
 'Robert Brown DVM',
 'Maria Brooks DDS',
 'Eric Johnson Jr.',
 'Kelly Webb PhD',
 'Dr. Valerie Chen',
 'Mrs. Taylor Martin',
 'Dr. Andre Casey',
 'Mr. Stephen Clements',
 'Kevin Morrow MD',
 'Dr. Louis Skinner',
 'Adam Walker DVM',
 'Mr. Steven Smith',
 'Dr. Willie King',
 'Miranda Stanley DVM',
 'Dr. Travis Johnson',
 'Mr. Christopher Cook',
 'Mr. Martin Hensley DDS',
 'Kelly Haynes DVM',
 'Mr. Alexander Foster MD',
 'Mr. William Rodgers',
 'Anne Larsen MD',
 'Sherry Johnson MD',
 'Victor Chavez II',
 'Brandon Dougherty DDS',
 'Elizabeth Young DDS',
 'Mr. Joshua Lucas',
 'Michael Walsh DDS',
 'Mrs. Lauren Campbell',
 'Troy Camacho MD',
 'Richard Ellis Jr.',
 'Mr. Brandon Johnson',
 'Mrs. Brooke Campbell',
 'Dr. Karen Kelley',
 'Mr. Jason Simmons',
 'Mr. Larry Francis MD',
 'Mr. Christopher Griffin',
 'Mr. Dean York',
 'Charles Goodman Jr.',
 'Miss Erin Bradley DDS',
 'Mr. Michael Allen',
 'Kelly Romero MD',
 'Anna Yang MD',
 'John White DVM',
 'Mr. James Barnes',
 'Mr. Carlos Warner',
 'April Calderon MD',
 'Mrs. Kimberly Key DDS',
 'Eric Park DDS',
 'Patrick Barker PhD',
 'Michael Singh Jr.',
 'Jonathan Smith Jr.',
 'Allen Morris Jr.',
 'Mr. Lee Rose',
 'Dr. Carl James',
 'Dr. Kimberly Benjamin',
 'Mr. Lucas Smith',
 'Mr. Jason Grant DDS',
 'Aaron Solis Jr.',
 'Ryan Graham MD',
 'Justin Morgan MD',
 'Mrs. Victoria Cochran',
 'Dr. Ryan Roberts',
 'Katie Strickland DDS',
 'Emma Perry MD',
 'Mr. Daniel Mckinney Jr.',
 'Mr. Paul Farmer',
 'Stephanie Howard MD',
 'Mandy Mcconnell DDS',
 'Mrs. Angelica Hall',
 'Christopher Petty Jr.',
 'Megan Shaw DDS',
 'Bianca Huynh MD',
 'Miss Christina Burns',
 'Melissa Dunn MD',
 'Mr. Derek Wilson',
 'Mr. Angel Johnson',
 'Mrs. Nicole Duran',
 'Michael Garcia Jr.',
 'Mrs. Bethany Fisher PhD',
 'Mr. Daniel Nguyen DDS',
 'Wanda Moore MD',
 'Charles Short II',
 'Kimberly Jacobson PhD',
 'Debbie Brown DVM',
 'Mr. Michael Dyer MD',
 'Joshua Kim DDS',
 'Daniel Fitzpatrick PhD',
 'Jordan Waller MD',
 'Mr. Jesse Bell',
 'Mario Myers MD',
 'Terry Adams DDS',
 'Derek Barker Jr.',
 'Mrs. Renee Gordon',
 'Mr. Vincent King',
 'Dr. Oscar Lawson MD',
 'Lisa Zimmerman DVM',
 'Mr. Phillip Vaughan',
 'Joseph Dyer MD',
 'Dr. Austin Cole',
 'Mrs. Amanda Martin',
 'John Thomas MD',
 'Sierra Dominguez MD',
 'Mrs. Katie Weber MD',
 'Ms. Nancy Green',
 'Mrs. Pamela Garcia',
 'Danielle Stanton MD',
 'Elizabeth Logan DDS',
 'Courtney Wall DVM',
 'Karen Harris PhD',
 'Mrs. Amanda Herring',
 'Dr. David Miller',
 'Mr. Eric Anderson',
 'Mrs. Sheena Bailey DVM',
 'Zachary Garrett III',
 'Thomas Harrison Jr.',
 'Megan Bennett DVM',
 'Mr. Steven Harrison',
 'Amy Mcintosh MD',
 'Dr. Frank Anderson',
 'Jamie Dawson MD',
 'Mr. Andrew Mitchell V',
 'Dr. Travis Richmond',
 'Mrs. Amy Cain',
 'Aaron Davis Jr.',
 'Thomas Burgess MD',
 'Amanda Hale DVM',
 'Derek Cooke MD',
 'Dr. Daniel Bowman',
 'Dr. Jonathan Palmer',
 'Lori Mitchell DDS',
 'Mr. Richard Armstrong',
 'Dr. Timothy Johnson',
 'Mrs. Pam Lewis DVM',
 'Amy Gutierrez DDS',
 'Dr. Christina Flores',
 'Brian Bailey Jr.',
 'Mrs. Carla Humphrey',
 'William Burch MD',
 'Yvonne Robinson PhD',
 'Martha Mcdonald DVM',
 'Dr. Mary Schwartz',
 'Taylor Green DDS',
 'Christopher Simmons PhD',
 'Rhonda Peterson MD',
 'Jacqueline West DDS',
 'Anne Lee DDS',
 'Jacqueline Snow MD',
 'Dr. Jennifer Shea',
 'Clayton Williams DVM',
 'Mr. Jeremiah Morris IV',
 'Mr. John Harris',
 'Mr. David Morales Jr.',
 'Barbara Johnson MD',
 'Megan Gutierrez MD',
 'Larry Chandler Jr.',
 'Ronald Matthews PhD',
 'James Clark II',
 'Cameron Roman Jr.',
 'Mr. Ian Smith',
 'Melissa Hunt MD',
 'Alexandria Cooper MD',
 'Mr. Andre Jensen',
 'Renee Garcia MD',
 'Christopher Smith Jr.',
 'Mrs. Lori Rogers MD',
 'Tammy Dunlap DVM',
 'Matthew Sawyer PhD',
 'Mike Harris PhD',
 'Mrs. Christina Mitchell DDS',
 'Evelyn Suarez DDS',
 'Christina Alvarez PhD',
 'Emily Duran MD',
 'Todd Grant Jr.',
 'Mrs. Veronica Sherman',
 'Mr. Alan Anderson',
 'Mr. Jason Jackson',
 'Mrs. Jennifer Rivera',
 'Dr. Terry Sanchez',
 'Mr. Scott Sexton',
 'Mrs. Wendy Hayes',
 'Kenneth Santiago MD',
 'Dr. Matthew Hernandez',
 'Louis Hodges DDS',
 'Dr. Douglas Duffy',
 'Mrs. Michelle Patterson',
 'Mrs. Jennifer Craig',
 'Mr. Michael Graham',
 'Dr. David Wright',
 'Jeanne Fischer MD',
 'Mrs. Amanda Rose',
 'Rebecca Salazar DDS',
 'Mrs. Kathleen Cook',
 'Robert Olson DVM',
 'Richard Cherry DDS',
 'Jeffrey Shepard DVM',
 'James Holland MD',
 'Dr. Patricia Baker',
 'Joshua Montgomery MD',
 'Kevin Andrews PhD',
 'Dr. Rachel Gilbert',
 'Kenneth Avila Jr.',
 'Miss Taylor Barron',
 'Mr. Jason Lopez Jr.',
 'Parker Carter MD',
 'Dennis Wells DDS',
 'Mrs. Carol White',
 'Courtney Stephenson MD',
 'Dr. Andrea Rose',
 'Dr. Seth Villarreal DVM',
 'Mrs. Sabrina Murillo MD',
 'Mr. Eric Gordon',
 'Mrs. Brenda Johnson DVM',
 'Anthony Garrett DDS',
 'Billy Franco PhD',
 'Mr. Jeremiah Rogers',
 'Mr. Donald Vang',

In [14]:
# Add the prefixes less than or equal to 4 to a new list.
prefixes = []
for student in students_to_fix:
    if len(student.split()[0]) <= 4:
        prefixes.append(student.split()[0])
    
prefixes

['Dr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Miss',
 'Luke',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mary',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Tara',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'John',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Dale',
 'Dr.',
 'Dr.',
 'Dr.',
 'Ms.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Amy',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Lisa',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mark',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Miss',
 'Mr.',
 'Miss',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Miss',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Tara',
 'Dr.',
 'Mr.',
 'Cody',
 'Mr.',
 'Dr.',
 'Mr.',
 'Ms.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Sara',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Ryan',
 'Mrs.',
 'Mr.',
 'Ms.',
 'Mr.',
 'Dr.',
 'John',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Miss',
 'Miss',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Ms.',
 'Mr.',
 'Miss',
 'Tony',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Miss',
 'Mrs.',
 'Jodi',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Ruth',
 'Dr.',
 'Mr.',
 'Ms.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Dr.',
 'John',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'John',
 'Amy',
 'Adam',
 'Dr.',
 'Eric',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Kyle',
 'Mr.',
 'Ms.',
 'Lynn',
 'Dr.',
 'Mr.',
 'Jon',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Judy',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Sara',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Tara',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Miss',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Miss',
 'Tina',
 'Dr.',
 'Eric',
 'Ms.',
 'Ms.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Miss',
 'Dr.',
 'Paul',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Ms.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Marc',
 'Mr.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Amy',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Jill',
 'Mary',
 'Carl',
 'Mr.',
 'Dr.',
 'Jose',
 'Mrs.',
 'Mary',
 'Ms.',
 'Jose',
 'Lisa',
 'Mrs.',
 'Mr.',
 'Miss',
 'Mr.',
 'Eric',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Miss',
 'Emma',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Ms.',
 'Mr.',
 'Gary',
 'Mr.',
 'Lori',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Noah',
 'Dawn',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Chad',
 'Mr.',
 'Paul',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Miss',
 'Mrs.',
 'Eric',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Adam',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Anne',
 'Mr.',
 'Mrs.',
 'Troy',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Miss',
 'Mr.',
 'Anna',
 'John',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Eric',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Ryan',
 'Mrs.',
 'Dr.',
 'Emma',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Miss',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Lisa',
 'Mr.',
 'Dr.',
 'Mrs.',
 'John',
 'Mrs.',
 'Ms.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Amy',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Lori',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Amy',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Anne',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mike',
 'Mrs.',
 'Todd',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Miss',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Ms.',
 'Mr.',
 'Miss',
 'Dr.',
 'Miss',
 'Dr.',
 'Leah',
 'Miss',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Ian',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Miss',
 'Dr.',
 'Mrs.',
 'Ms.',
 'Dr.',
 'Dr.',
 'Mark',
 'Mr.',
 'Kari',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Kara',
 'Mark',
 'John',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Eric',
 'John',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Paul',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Adam',
 'Mrs.',
 'Ms.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Paul',
 'Mrs.',
 'Cory',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Erin',
 'Dr.',
 'Dr.',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Miss',
 'Mr.',
 'Mr.',
 'Mr.',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Miss',
 'Ms.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'John',
 'Lisa',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Jon',
 'Mrs.',
 'Dr.',
 'Greg',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Miss',
 'Mr.',
 'Dr.',
 'Joe',
 'Dr.',
 'Mark',
 'Dr.',
 'Mrs.',
 'Miss',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Adam',
 'Mr.',
 'Mr.',
 'Dana',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Erik',
 'Mrs.',
 'Dr.',
 'Miss',
 'Mrs.',
 'Ms.',
 'Mr.',
 'Mr.',
 'Mr.',
 'John',
 'Gail',
 'Todd',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Ryan',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Erik',
 'Omar',
 'Mr.',
 'Dr.',
 'Cody',
 'Ms.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Miss',
 'Mark',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Miss',
 'Mrs.',
 'Seth',
 'Dr.',
 'Mrs.',
 'Ryan',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Ryan',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Ms.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Ms.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Lisa',
 'Mr.',
 'Dr.',
 'Chad',
 'Gina',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Amy',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Lisa',
 'Mrs.',
 'Dr.',
 'Miss',
 'Mr.',
 'Mr.',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Lisa',
 'Dr.',
 'Mr.',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Sean',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Miss',
 'Miss',
 'Dr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Todd',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Miss',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Adam',
 'Mrs.',
 'Ms.',
 'Tony',
 'Dr.',
 'Miss',
 'Toni',
 'Ms.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Ms.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Jose',
 'Dr.',
 'Dr.',
 'Amy',
 'John',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Miss',
 'Mr.',
 'Dr.',
 'Mary',
 'Mark',
 'Dr.',
 'Ms.',
 'Ms.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Miss',
 'Mr.',
 'Dr.',
 'Troy',
 'John',
 'Dr.',
 'Kim',
 'Mr.',
 'Mr.',
 'Miss',
 'Mary',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Ms.',
 'Mrs.',
 'Anna',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.']

In [15]:
# Add the suffixes less than or equal to 3 to a new list. 

suffixes = []
for student in students_to_fix:
        if len(student.split()[-1]) <=3:
            suffixes.append(student.split()[-1])
            
suffixes

['MD',
 'MD',
 'MD',
 'III',
 'DVM',
 'MD',
 'MD',
 'MD',
 'DDS',
 'DVM',
 'II',
 'MD',
 'MD',
 'DDS',
 'MD',
 'DDS',
 'MD',
 'MD',
 'PhD',
 'MD',
 'DVM',
 'Lee',
 'MD',
 'DDS',
 'MD',
 'MD',
 'MD',
 'MD',
 'MD',
 'MD',
 'DDS',
 'Jr.',
 'DVM',
 'MD',
 'MD',
 'PhD',
 'IV',
 'MD',
 'DDS',
 'DDS',
 'DDS',
 'MD',
 'DDS',
 'MD',
 'DVM',
 'IV',
 'MD',
 'DDS',
 'MD',
 'MD',
 'DVM',
 'Jr.',
 'MD',
 'PhD',
 'II',
 'MD',
 'DDS',
 'DDS',
 'DDS',
 'Jr.',
 'III',
 'MD',
 'MD',
 'MD',
 'DDS',
 'Jr.',
 'DDS',
 'DVM',
 'DDS',
 'DVM',
 'MD',
 'DDS',
 'PhD',
 'DDS',
 'DDS',
 'Jr.',
 'Jr.',
 'DVM',
 'DDS',
 'MD',
 'MD',
 'DVM',
 'DDS',
 'DVM',
 'Jr.',
 'MD',
 'Jr.',
 'MD',
 'PhD',
 'PhD',
 'DDS',
 'MD',
 'DDS',
 'DVM',
 'Cox',
 'DVM',
 'MD',
 'Jr.',
 'MD',
 'DDS',
 'MD',
 'MD',
 'DDS',
 'DDS',
 'Roy',
 'DDS',
 'DDS',
 'DDS',
 'II',
 'PhD',
 'MD',
 'PhD',
 'DDS',
 'MD',
 'DDS',
 'Jr.',
 'Day',
 'DDS',
 'MD',
 'PhD',
 'DDS',
 'Jr.',
 'DDS',
 'MD',
 'MD',
 'MD',
 'MD',
 'DDS',
 'MD',
 'DDS',
 'PhD',
 'DVM',
 'DDS',
 'MD',
 'MD',
 'MD',
 'DDS',
 'Jr.',
 'Jr.',
 'DDS',
 'Jr.',
 'MD',
 'MD',
 'PhD',
 'PhD',
 'DDS',
 'MD',
 'MD',
 'III',
 'DVM',
 'PhD',
 'Jr.',
 'II',
 'DDS',
 'DDS',
 'DVM',
 'MD',
 'II',
 'MD',
 'DDS',
 'MD',
 'DDS',
 'PhD',
 'DDS',
 'DDS',
 'II',
 'DVM',
 'DDS',
 'Jr.',
 'DVM',
 'MD',
 'MD',
 'DVM',
 'MD',
 'DDS',
 'DVM',
 'DDS',
 'MD',
 'II',
 'PhD',
 'MD',
 'MD',
 'MD',
 'DDS',
 'MD',
 'MD',
 'DDS',
 'DDS',
 'MD',
 'DDS',
 'PhD',
 'DVM',
 'DVM',
 'MD',
 'MD',
 'DDS',
 'DDS',
 'PhD',
 'MD',
 'IV',
 'DDS',
 'Jr.',
 'DDS',
 'Jr.',
 'MD',
 'MD',
 'MD',
 'DDS',
 'MD',
 'DVM',
 'DVM',
 'DDS',
 'DDS',
 'Jr.',
 'MD',
 'MD',
 'DDS',
 'DDS',
 'MD',
 'MD',
 'MD',
 'MD',
 'DVM',
 'MD',
 'DVM',
 'DVM',
 'MD',
 'DDS',
 'MD',
 'Jr.',
 'DDS',
 'MD',
 'MD',
 'DVM',
 'Jr.',
 'DDS',
 'MD',
 'MD',
 'PhD',
 'DDS',
 'Jr.',
 'MD',
 'DDS',
 'MD',
 'DDS',
 'Jr.',
 'Jr.',
 'DVM',
 'MD',
 'DDS',
 'PhD',
 'MD',
 'PhD',
 'MD',
 'V',
 'II',
 'MD',
 'PhD',
 'DVM',
 'MD',
 'MD',
 'PhD',
 'MD',
 'MD',
 'MD',
 'DDS',
 'DVM',
 'Jr.',
 'MD',
 'Jr.',
 'Jr.',
 'DDS',
 'PhD',
 'DVM',
 'DVM',
 'MD',
 'MD',
 'MD',
 'DVM',
 'MD',
 'DDS',
 'MD',
 'DDS',
 'Jr.',
 'MD',
 'DDS',
 'DDS',
 'Jr.',
 'DVM',
 'DVM',
 'DDS',
 'MD',
 'MD',
 'DVM',
 'MD',
 'MD',
 'MD',
 'DDS',
 'MD',
 'Jr.',
 'MD',
 'MD',
 'PhD',
 'PhD',
 'DDS',
 'DDS',
 'DDS',
 'MD',
 'MD',
 'PhD',
 'Jr.',
 'MD',
 'DDS',
 'III',
 'DVM',
 'Jr.',
 'DDS',
 'DDS',
 'MD',
 'DVM',
 'MD',
 'DDS',
 'MD',
 'PhD',
 'DDS',
 'Lee',
 'MD',
 'Jr.',
 'MD',
 'DVM',
 'DDS',
 'DDS',
 'MD',
 'MD',
 'DVM',
 'DVM',
 'DVM',
 'MD',
 'DDS',
 'DVM',
 'DDS',
 'MD',
 'MD',
 'MD',
 'DDS',
 'PhD',
 'DDS',
 'DVM',
 'DDS',
 'DVM',
 'DDS',
 'DVM',
 'DVM',
 'DDS',
 'II',
 'MD',
 'III',
 'DDS',
 'DDS',
 'DVM',
 'DVM',
 'MD',
 'Jr.',
 'II',
 'MD',
 'PhD',
 'PhD',
 'MD',
 'DDS',
 'DVM',
 'DVM',
 'MD',
 'MD',
 'DVM',
 'DVM',
 'PhD',
 'Jr.',
 'Jr.',
 'MD',
 'MD',
 'DDS',
 'DDS',
 'III',
 'PhD',
 'Jr.',
 'MD',
 'MD',
 'MD',
 'DDS',
 'MD',
 'DDS',
 'MD',
 'DVM',
 'PhD',
 'MD',
 'MD',
 'PhD',
 'Jr.',
 'MD',
 'MD',
 'MD',
 'MD',
 'MD',
 'MD',
 'DVM',
 'DVM',
 'PhD',
 'DDS',
 'DDS',
 'MD',
 'DDS',
 'MD',
 'DVM',
 'DVM',
 'DDS',
 'DVM',
 'DDS',
 'MD',
 'MD',
 'DVM',
 'DVM',
 'DDS',
 'Jr.',
 'PhD',
 'MD',
 'DVM',
 'DVM',
 'DDS',
 'DVM',
 'MD',
 'MD',
 'MD',
 'II',
 'DDS',
 'DDS',
 'DDS',
 'MD',
 'Jr.',
 'MD',
 'Jr.',
 'DDS',
 'MD',
 'MD',
 'DVM',
 'MD',
 'DDS',
 'DDS',
 'PhD',
 'Jr.',
 'Jr.',
 'Jr.',
 'DDS',
 'Jr.',
 'MD',
 'MD',
 'DDS',
 'MD',
 'Jr.',
 'MD',
 'DDS',
 'Jr.',
 'DDS',
 'MD',
 'MD',
 'Jr.',
 'PhD',
 'DDS',
 'MD',
 'II',
 'PhD',
 'DVM',
 'MD',
 'DDS',
 'PhD',
 'MD',
 'MD',
 'DDS',
 'Jr.',
 'MD',
 'DVM',
 'MD',
 'MD',
 'MD',
 'MD',
 'MD',
 'DDS',
 'DVM',
 'PhD',
 'DVM',
 'III',
 'Jr.',
 'DVM',
 'MD',
 'MD',
 'V',
 'Jr.',
 'MD',
 'DVM',
 'MD',
 'DDS',
 'DVM',
 'DDS',
 'Jr.',
 'MD',
 'PhD',
 'DVM',
 'DDS',
 'PhD',
 'MD',
 'DDS',
 'DDS',
 'MD',
 'DVM',
 'IV',
 'Jr.',
 'MD',
 'MD',
 'Jr.',
 'PhD',
 'II',
 'Jr.',
 'MD',
 'MD',
 'MD',
 'Jr.',
 'MD',
 'DVM',
 'PhD',
 'PhD',
 'DDS',
 'DDS',
 'PhD',
 'MD',
 'Jr.',
 'MD',
 'DDS',
 'MD',
 'DDS',
 'DVM',
 'DDS',
 'DVM',
 'MD',
 'MD',
 'PhD',
 'Jr.',
 'Jr.',
 'MD',
 'DDS',
 'MD',
 'DVM',
 'MD',
 'DVM',
 'DDS',
 'PhD',
 'PhD',
 'Kim',
 'DDS',
 'PhD',
 'DVM',
 'PhD',
 'DVM',
 'DDS',
 'MD',
 'Jr.',
 'PhD',
 'MD',
 'MD',
 'II',
 'III',
 'MD',
 'DDS',
 'DDS',
 'PhD',
 'MD',
 'DVM',
 'MD',
 'DDS',
 'MD',
 'DDS',
 'Jr.',
 'DDS',
 'DDS',
 'MD',
 'IV',
 'Jr.',
 'DDS',
 'DDS',
 'Jr.',
 'DVM',
 'DVM',
 'DVM',
 'DVM',
 'MD',
 'DVM',
 'DDS',
 'MD',
 'MD',
 'DDS',
 'DDS',
 'DVM',
 'III',
 'DVM',
 'MD',
 'DVM',
 'DDS',
 'MD',
 'MD',
 'DVM',
 'DVM',
 'MD',
 'III',
 'DDS',
 'MD',
 'DDS',
 'DVM',
 'Jr.',
 'III',
 'MD',
 'MD',
 'PhD',
 'DVM',
 'DDS',
 'MD',
 'Jr.',
 'DDS',
 'MD',
 'II',
 'MD',
 'Jr.',
 'DDS',
 'PhD',
 'DDS',
 'DDS',
 'II',
 'Jr.',
 'DDS',
 'MD',
 'II',
 'MD',
 'MD',
 'MD',
 'Jr.',
 'DDS',
 'MD',
 'DVM',
 'PhD',
 'MD',
 'DVM',
 'DDS',
 'DDS',
 'DVM',
 'DDS',
 'DDS',
 'MD',
 'MD',
 'MD',
 'MD',
 'DDS',
 'DVM',
 'PhD',
 'DDS',
 'DDS',
 'MD',
 'MD',
 'MD',
 'DDS',
 'DVM',
 'MD',
 'II',
 'MD',
 'Jr.',
 'Jr.',
 'MD',
 'MD',
 'MD',
 'MD',
 'DVM',
 'MD',
 'Jr.',
 'PhD',
 'PhD',
 'PhD',
 'DDS',
 'Jr.',
 'DVM',
 'DDS',
 'MD',
 'DVM',
 'PhD',
 'MD',
 'Jr.',
 'Jr.',
 'DVM',
 'MD',
 'DDS',
 'MD',
 'MD',
 'Lee',
 'MD',
 'MD',
 'MD',
 'DDS',
 'PhD',
 'MD',
 'PhD',
 'MD',
 'DVM',
 'MD',
 'MD',
 'MD',
 'DDS',
 'II',
 'DVM',
 'Jr.',
 'DVM',
 'MD',
 'Jr.',
 'DDS',
 'DVM',
 'DDS',
 'Jr.',
 'DVM',
 'Jr.',
 'DDS',
 'MD',
 'PhD',
 'DDS',
 'DDS',
 'DVM',
 'MD',
 'MD',
 'PhD',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'MD',
 'DVM',
 'DVM',
 'DVM',
 'DDS',
 'MD',
 'MD',
 'MD',
 'Jr.',
 'PhD',
 'MD',
 'Jr.',
 'DVM',
 'DDS',
 'DVM',
 'MD',
 'DVM',
 'MD',
 'DDS',
 'DDS',
 'PhD',
 'DDS',
 'Jr.',
 'DDS',
 'MD',
 'MD',
 'MD',
 'MD',
 'DDS',
 'DVM',
 'MD',
 'MD',
 'PhD',
 'MD',
 'MD',
 'II',
 'MD',
 'Jr.',
 'PhD',
 'MD',
 'PhD',
 'MD',
 'MD',
 'DDS',
 'Jr.',
 'PhD',
 'DDS',
 'MD',
 'DDS',
 'DDS',
 'MD',
 'MD',
 'MD',
 'Jr.',
 'DDS',
 'DDS',
 'MD',
 'MD',
 'MD',
 'MD',
 'IV',
 'Jr.',
 'MD',
 'DDS',
 'MD',
 'DDS',
 'MD',
 'MD',
 'Jr.',
 'MD',
 'DVM',
 'DVM',
 'DVM',
 'MD',
 'MD',
 'DVM',
 'DVM',
 'PhD',
 'Jr.',
 'PhD',
 'DVM',
 'Jr.',
 'MD',
 'MD',
 'DDS',
 'III',
 'DVM',
 'DDS',
 'Jr.',
 'MD',
 'MD',
 'Jr.',
 'MD',
 'MD',
 'DVM',
 'Jr.',
 'Jr.',
 'DDS',
 'PhD',
 'DDS',
 'DDS',
 'DDS',
 'Jr.',
 'Jr.',
 'MD',
 'DVM',
 'DDS',
 'MD',
 'MD',
 'PhD',
 'DDS',
 'MD',
 'DDS',
 'DVM',
 'DVM',
 'MD',
 'DDS',
 'MD',
 'MD',
 'MD',
 'Jr.',
 'MD',
 'DVM',
 'DDS',
 'MD',
 'PhD',
 'MD',
 'II',
 'Jr.',
 'III',
 'MD',
 'PhD',
 'MD',
 'MD',
 'PhD',
 'II',
 'DDS',
 'DVM',
 'DDS',
 'MD',
 'DDS',
 'MD',
 'DVM',
 'MD',
 'III',
 'DDS',
 'MD',
 'DVM',
 'MD',
 'II',
 'DDS',
 'MD',
 'MD',
 'DDS',
 'MD',
 'MD',
 'DVM',
 'MD',
 'MD',
 'MD',
 'II',
 'DDS',
 'Jr.',
 'MD',
 'DDS',
 'MD',
 'MD',
 'MD',
 'MD',
 'DDS',
 'IV',
 'MD',
 'Jr.',
 'III',
 'DDS',
 'DDS',
 'MD',
 'DDS',
 'DVM',
 'DVM',
 'PhD',
 'MD',
 'II',
 'Li',
 'DVM',
 'MD',
 'DVM',
 'DDS',
 'DDS',
 'DDS',
 'DVM',
 'MD',
 'DVM',
 'MD',
 'MD',
 'MD',
 'MD',
 'Jr.',
 'DVM',
 'MD',
 'MD',
 'MD',
 'MD',
 'DDS',
 'MD',
 'PhD',
 'DDS',
 'MD',
 'MD',
 'DDS',
 'Jr.',
 'DDS',
 'DDS',
 'DVM',
 'DDS',
 'DDS',
 'MD',
 'Jr.',
 'DDS',
 'PhD',
 'Jr.',
 'DDS']

In [16]:
# Get the unique items in the "prefixes" list.
set(prefixes)

{'Adam',
 'Amy',
 'Anna',
 'Anne',
 'Carl',
 'Chad',
 'Cody',
 'Cory',
 'Dale',
 'Dana',
 'Dawn',
 'Dr.',
 'Emma',
 'Eric',
 'Erik',
 'Erin',
 'Gail',
 'Gary',
 'Gina',
 'Greg',
 'Ian',
 'Jill',
 'Jodi',
 'Joe',
 'John',
 'Jon',
 'Jose',
 'Judy',
 'Kara',
 'Kari',
 'Kim',
 'Kyle',
 'Leah',
 'Lisa',
 'Lori',
 'Luke',
 'Lynn',
 'Marc',
 'Mark',
 'Mary',
 'Mike',
 'Miss',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Noah',
 'Omar',
 'Paul',
 'Ruth',
 'Ryan',
 'Sara',
 'Sean',
 'Seth',
 'Tara',
 'Tina',
 'Todd',
 'Toni',
 'Tony',
 'Troy'}

In [17]:
# Get the unique items in the "suffixes" list.
set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [18]:
# Replace "Dr." with an empty string.
## Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD" ]
## replace () method works only on Python Strings.

# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [19]:
# Put the cleaned students' names in another list.
student_names = student_data_df["student_name"].tolist()
student_names

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 'Richard Scott',
 'Bonnie Ray',
 'Bryan Miranda',
 'Sheena Carter',
 'Nicole Baker',
 'Michael Roth',
 'Matthew Greene',
 'Andrew Alexander',
 'Daniel Cooper',
 'Brittney Walker',
 'William Long',
 'Tammy Hebert',
 'Jordan Carson',
 'Donald Zamora',
 'Kimberly Santiago',
 'Kevin Stevens',
 'Brandi Lyons',
 'Lisa Davis',
 'Kristen Lopez',
 'Kimberly Stewart',
 'Christopher Parker',
 'Chelsea Griffith',
 'Cesar Morris',
 'Melanie Decker',
 'Tracey Oconnor',
 'Kelly James',
 'Nicole Brown',
 'Bobby Harris',
 'Brian Fernandez',
 'Candace Phelps',
 'Amy Gonzalez',
 'Steven Green',
 'Benjamin Carlson',
 'Kevin Bailey',
 'Jesse Newton',
 'Kimberly Mercado',
 'Gregory Roberts',
 'Matthew Mayer',
 'Jennifer Parks',
 'John Carlson',
 'Megan Roberts',
 'Debra Flores',
 'Heidi Jackson',
 'Denise Bradford',
 'Ellen Brown',
 'Amy Perkins',
 'Natalie Mitchell',
 'Tiffany Gutierrez',
 'Jennifer Hess',
 'Christine Fletcher',
 'Jon Smith',
 'Tracey Yates',
 'Jerry Gordon',
 'Michael Cox',
 'Madeline Snyder',
 'Allison King',
 'Theresa Meyer',
 'Jared Wood',
 'Eric Maynard',
 'Mark Owens',
 'Ronnie Conley',
 'Kimberly Davis',
 'Amy Mitchell',
 'Dylan Taylor',
 'Elizabeth Henderson',
 'James Lopez',
 'Michael Morgan',
 'Angela Francis',
 'Breanna Taylor',
 'Jason Johnson',
 'Kyle Martin',
 'Scott Gill',
 'Lisa Long',
 'Erin Liu',
 'Marcus Richards',
 'Jason Thompson',
 'Elizabeth Mckinney',
 'Jessica Bailey',
 'Lisa Frye',
 'Lindsey Baker',
 'Lisa Ramirez',
 'Joseph Butler',
 'Tina Lynch',
 'Leah Benitez',
 'Elizabeth Parker',
 'Melissa Hunter',
 'Madison Everett',
 'Ronald Garcia',
 'Mark Cherry',
 'Ryan Stokes',
 'Isaiah Maldonado',
 'Micheal Dennis',
 'Kevin Martinez',
 'Jessica Smith',
 'Dawn Trujillo',
 'Virginia Ramirez',
 'Marc Hernandez',
 'Jose Gonzalez',
 'Jason Dennis',
 'Gary Morris',
 'William Mcdonald',
 'Michael Savage',
 'Alexis Todd',
 'David Hansen',
 'Steven Mendez',
 'Ryan Lynch',
 'Timothy Marks',
 'Alexander Johns',
 'Kenneth Chavez',
 'Dennis Williams',
 'Michael Roy',
 'Richard Ryan',
 'Matthew Reyes',
 'Stephanie Ward',
 'Christopher Tucker',
 'Daniel Jones',
 'Devin Craig',
 'Erin Prince',
 'Bernard Ortiz',
 'Nicole Miller',
 'Christopher Fritz',
 'Bonnie Mckinney',
 'Troy Nelson',
 'Jennifer Lee',
 'Ronald Ward',
 'Nathaniel Hampton',
 'Michael Travis',
 'James Taylor',
 'Thomas Strickland',
 'Brittany Jackson',
 'Marisa Lowe',
 'Nicole Thomas',
 'Matthew Rodriguez',
 'Kent Fernandez',
 'Michelle Martin',
 'John Sparks',
 'Ann Blake',
 'Melissa Miller',
 'Steven Houston',
 'Kristen Anderson',
 'Cory Jones',
 'Jennifer Mora',
 'Dennis Griffin',
 'Darryl Brown',
 'Martin Mosley',
 'Joyce Diaz',
 'Jeffrey Rose',
 'Jamie Moreno',
 'Catherine Williams',
 'Lauren Byrd',
 'Vanessa Frazier',
 'Stephen Bryant',
 'Lawrence Liu',
 'Joseph Larsen',
 'Susan Collier',
 'Meagan Jensen',
 'Julie Harper',
 'Meghan Carroll',
 'Wanda Horton',
 'Mary Campbell',
 'Jennifer Rodgers',
 'Heather Cooper',
 'Ryan Perez',
 'Ryan Cox',
 'Darren Zavala',
 'Joseph Morales III',
 'Aaron West',
 'James Combs',
 'Curtis Garner',
 'Sarah Miller',
 'Samantha Thomas',
 'Robert Atkins',
 'Alexis Crawford',
 'Ryan Maddox',
 'Jonathan Meyer',
 'Donna Wagner',
 'William Kennedy',
 'Kimberly Martinez',
 'Matthew Anderson',
 'Kari Miller',
 'Jenna Luna',
 'Justin Contreras',
 'Mary Fox',
 'Joseph Perkins',
 'Kelly Phillips',
 'Justin Thornton',
 'Joshua Barber',
 'Travis Jackson',
 'Jordan Beasley',
 'Kevin Allen',
 'Victoria Harris',
 'Victoria Joseph',
 'Brandy Marshall',
 'Ryan Jimenez',
 'Michael Chan',
 'Christopher Phillips',
 'Kevin Murphy',
 'Vanessa Harper',
 'James Ferguson',
 'Carol Schroeder',
 'Jerry Phillips',
 'Kristin Wade',
 'Jessica Warner',
 'Dorothy Burke',
 'Bethany Walter',
 'Melissa Avery',
 'Daniel Sutton',
 'Ryan Johnson',
 'Timothy Quinn',
 'Zachary Allen',
 'Lauren Schmitt',
 'Stephanie Armstrong',
 'Ruben Rivera',
 'Patricia Petty',
 'Joseph Jacobs',
 'Bianca Wilson',
 'Donald Perez',
 'Curtis Gomez',
 'Courtney Brown',
 'Nicole Randall',
 'Steven Lambert',
 'Anthony Alvarez',
 'Shawn Farrell',
 'Jesus Schmidt',
 'Laura Wright',
 'Steven Smith',
 'Norman Thompson',
 'Anthony Wright',
 'Kayla Watts',
 'Aimee Johnson',
 'Heidi Scott',
 'Anthony Williams',
 'Sarah Hill',
 'Kim Wang',
 'Beth Manning',
 'Ryan Hanson',
 'James Wood',
 'Corey Greene',
 'John Carter',
 'Beth Garza',
 'Karen Jones',
 'Stephanie Poole',
 'Lisa Brown',
 'Paul Scott',
 'Evelyn Buck',
 'Terry Harrell',
 'Leah Skinner',
 'Anthony Mercado',
 'Walter Kelly',
 'Lori Evans',
 'Ashley Jones',
 'Amber Soto',
 'Patrick Phillips',
 'Linda Curry',
 'Alexander Obrien',
 'Vincent Garza',
 'Terry Marsh',
 'Angela Perkins',
 'Peter Hampton',
 'David Cross',
 'Clinton Ortega',
 'Jamie Escobar',
 'Sandra Mason',
 'Craig Cole',
 'Lisa Warren',
 'Maria Howard',
 'Michael Porter',
 'John Turner',
 'Timothy Wang',
 'Amanda Taylor',
 'Karen Mckenzie',
 'Brandon Miles',
 'Christina Whitaker',
 'Nicole Peterson',
 'Ashley Moore',
 'Todd Carrillo',
 'Robert Williams',
 'Ashley Jones',
 'Vanessa Parker',
 'Robert Carlson',
 'Jared Lewis',
 'Christopher Hernandez',
 'Kimberly Harris',
 'Katrina Hill',
 'Heather Lee',
 'Donald Harmon',
 'Elizabeth Sanders',
 'Richard Ramsey',
 'Carmen Johnson',
 'Elaine Osborne',
 'Kent Burns',
 'Meagan Smith',
 'Craig Hahn',
 'Jeremy Wu',
 'Aaron Rodriguez',
 'Matthew Taylor',
 'Diana Evans',
 'Michele Pearson',
 'Erik Wagner',
 'Maria Welch',
 'Debra Martin',
 'Devon Conner',
 'Christine Patel',
 'David Lopez',
 'Nathan Baird',
 'Samuel Castillo',
 'Rebecca Payne',
 'Carl Johnson',
 'William Adams',
 'Paula Harrison',
 'Wayne Atkinson',
 'Lindsay Frank',
 'Jose Garcia',
 'Andrew Gaines',
 'Rachael Liu',
 'Donald Lewis',
 'Shane Edwards',
 'Todd Levy',
 'Joanna Moore',
 'Michael Lewis',
 'James Robinson',
 'Jeffrey Arellano',
 'Heather Allen',
 'Lori Villarreal',
 'Robert Harper',
 'Karen Villegas',
 'Tracey Crane',
 'Elizabeth Allen',
 'Jorge Lynn',
 'Harold Gordon',
 'Nicholas Mcclain',
 'Tanya Harris',
 'Amy Smith',
 'Kathy Morse',
 'Andrea Wood',
 'Maureen Massey',
 'Daniel Smith',
 'Alexandra Smith',
 'Caitlin Hall',
 'Jose Carlson',
 'Deborah Macias',
 'Dwayne Rice',
 'Matthew Harris',
 'Eric Bowman',
 'Samuel Ali',
 'David Miller',
 'James Moreno',
 'Brooke Austin',
 'Alisha Martin',
 'Neil Rodriguez',
 'Gary Williams',
 'Michael Pittman',
 'Stephanie Palmer',
 'Christine Perry',
 'Suzanne David',
 'Amber Smith',
 'Ryan Jones',
 'Emily Ford',
 'Kelsey Shea',
 'Katherine Wallace',
 'Erica Conway',
 'Tyler Parker',
 'Michael Parks',
 'Elizabeth Hunt',
 'Grant Jackson',
 'Daniel Matthews',
 'Diana Silva',
 'Frank Garza',
 'Terri Fischer',
 'Robert Goodwin',
 'Bobby Ruiz',
 'Stephanie Taylor',
 'Erin Hill',
 'Erin Cohen',
 'Jeffrey Morris',
 'Elizabeth Simpson',
 'Jennifer Davis',
 'Rachel Burton',
 'Joseph Wilkins',
 'Lawrence Montgomery',
 'Patricia Howard',
 'Jessica Hanson',
 'Donna Dean',
 'Edwin Reid',
 'Jodi Brown',
 'Elizabeth Richard',
 'Aaron Martinez',
 'Stephen Fischer',
 'Diana Reeves',
 'Jeffrey Eaton',
 'Evelyn Miller',
 'Christopher Kidd',
 'Sarah Adams',
 'Melinda Nelson',
 'Kevin Brooks',
 'John Bowen',
 'Tracie Abbott',
 'Allen Foster',
 'Kathryn Elliott',
 'Christopher Walker',
 'Cynthia Martin',
 'Amanda Bennett',
 'Dennis Padilla',
 'Antonio Miller',
 'Melissa Trevino',
 'Andrew King',
 'John Martinez',
 'Lauren King',
 'Stephanie Mercado',
 'William Smith',
 'Jonathan Marshall',
 'Luke Lowery',
 'Emily Reynolds',
 'Kevin Mclean',
 'Elizabeth Taylor',
 'Pamela Rivas',
 'Tammy Martin',
 'Holly Watkins',
 'Patrick Chen',
 'Michelle Griffin',
 'Theresa Andrews',
 'Alan Henry',
 'Larry Hines',
 'Travis Frazier',
 'Julie Jones',
 'Natalie Reynolds',
 'Jessica Cohen',
 'Jason Robinson',
 'Heather Palmer',
 'Emily Cardenas',
 'Scott Glover',
 'Jacqueline White',
 'Elizabeth Espinoza',
 'Toni Porter',
 'Jennifer Mejia',
 'Brenda Peterson',
 'Paul Hamilton',
 'Patricia Nguyen',
 'James Ho',
 'Elizabeth Cohen',
 'Stephanie Lane',
 'Dawn Rhodes',
 'Theresa Robinson',
 'Breanna Mosley',
 'Carmen Wilson',
 'Ian Brown',
 'Kathleen Matthews',
 'Bryan Diaz',
 'Gina Sweeney',
 'Alan Garcia',
 'Erik Wheeler',
 'Stephanie Robles',
 'Samantha Hanson',
 'Christopher Williams',
 'Stephanie Hart',
 'Lisa Becker',
 'Bianca Johnson',
 'Amy Steele',
 'Gina Contreras',
 'Jaime Alexander',
 'Kevin Coleman',
 'Caitlin Williams',
 'Joseph Lloyd',
 'Carrie Hernandez',
 'Travis Young',
 'Francis Wright',
 'Joel Harper',
 'Eduardo Park',
 'Melissa Yoder',
 'Donna Campbell',
 'Connie Delacruz',
 'Luis Parker',
 'Pamela Watts',
 'Lindsey Mitchell',
 'Brenda Price',
 'Joseph Howard',
 'Amy Evans',
 'Paula Fernandez',
 'Amber Cunningham',
 'Preston Wheeler',
 'James Lopez',
 'Chad Drake',
 'Samuel Blackburn',
 'Shawn Nielsen',
 'Eric Perez',
 'Kevin Montgomery',
 'Terry Thomas',
 'Kim Meyer',
 'Michael Townsend',
 'Ronnie Rodriguez',
 'Savannah Smith',
 'Shane Nguyen',
 'Michael Brown',
 'Robert Young',
 'Daniel Griffin',
 'James Johnson',
 'Mary Cox',
 'Tina Aguirre',
 'Jillian Mcdonald',
 'Matthew Branch',
 'Christopher Jordan',
 'Victor Mcguire',
 'Erin Arnold',
 'Nicholas Wu',
 'Kristen Wilson',
 'Morgan Moore',
 'Stephen Smith',
 'Jeremy Romero',
 'Julie Bush',
 'Brittany Taylor',
 'James Kim',
 'Ashley Roberts',
 'Brandon Johnson',
 'David Davenport',
 'Mark Washington',
 'Alicia Marshall',
 'Barbara Santana',
 'Samantha Parker',
 'Joseph Walters',
 'Michael Zamora',
 'Kyle Cobb',
 'Jill Clark',
 'Sarah Warren',
 'Jennifer Robinson',
 'Patricia Johnson',
 'Henry Evans',
 'Alexander Ramsey',
 'Brandon Stephens',
 'Jeff Holland',
 'Samuel Schultz',
 'Brett Johnson',
 'Daniel Sherman',
 'Justin Mccall',
 'Jonathan Evans',
 'Jacqueline Kennedy',
 'Martin Stephenson',
 'Lindsey Lane',
 'Jessica Hart',
 'Edward Lucas',
 'Lisa Osborne',
 'Hannah Black',
 'Alexander Paul',
 'Brenda Wong',
 'Thomas Delgado',
 'Jeremy Sutton',
 'Paula Donaldson',
 'Valerie Thompson',
 'John Schaefer',
 'Jesus Manning',
 'Tyrone Lawson',
 'Carl May',
 'Brittany Russell',
 'Philip Edwards',
 'Robert Aguilar',
 'Aaron Russo',
 'Tracy Andrade',
 'Amy Sullivan',
 'Howard Beck',
 'Xavier Bell II',
 'Dawn Schultz',
 'Caleb Lucas',
 'Barbara Gonzalez',
 'Charles Yang',
 'David Gallagher',
 'Bethany Vargas',
 'Jennifer Schultz',
 'Paula Marshall',
 'Jordan Elliott',
 'Samantha Mcmillan',
 'Judith Johnson',
 'Grace Palmer',
 'Brandon Ramirez',
 'Carol Smith',
 'Matthew Odom',
 'Erika Gray',
 'Donna Kramer',
 'Jonathan Snyder',
 'Frank Howe',
 'Amy Beck',
 'Lori Holmes',
 'Rebekah Hampton',
 'Perry Bishop',
 'Andrew Hanson',
 'Jody Hughes',
 'Anna Garcia',
 'Colleen Walker',
 'Danny Bridges',
 'Kristina Ford',
 'Sabrina Davidson',
 'Alexander Freeman',
 'Jack Davis',
 'Victor Rivera',
 'Elizabeth Pena',
 'Neil Castro',
 'Michael Briggs',
 'Anna Andersen',
 'Elizabeth Oconnor',
 'Zachary Brooks',
 'Scott Jackson',
 'Mary Fuentes',
 'Denise Reyes',
 'Janice Collier',
 'Tina Barber',
 'Keith Rojas',
 'Michelle Decker',
 'James Smith',
 'Alexandra Thompson',
 'Jacqueline Campbell',
 'Austin Clark',
 'Brooke Thomas',
 'Molly Smith',
 'Pamela Beck',
 'Timothy Morris',
 'Lauren White',
 'Jessica Beltran',
 'Alexandra Jones',
 'Evelyn Rice',
 'Stephen Ellis',
 'Caroline Smith',
 'Fred Case',
 'Crystal Anderson',
 'Jordan Gross',
 'Marie Harris',
 'Charles Hayes',
 'Beverly Sheppard',
 'Denise Solis',
 'Alexander Myers',
 'Sally Robertson',
 'Steven Morris',
 'Nina Flores',
 'Miguel Patterson',
 'John Simpson',
 'Charles Cruz',
 'Monica Davis',
 'James Fields',
 'Kevin Frederick',
 'Jeremy Soto',
 'Ronald Harris',
 'Carol Stewart',
 'Albert Durham',
 'James Sanchez',
 'John Adams',
 'Cody Williams',
 'Ernest Love',
 'Tommy Smith',
 'Jared Anderson',
 'Jennifer Yang',
 'Joe Mercado',
 'Roberto Wright',
 'Michael Smith',
 'William Park',
 'Benjamin Williams',
 'Dean Perez',
 'Dale Miller',
 'Marissa Russell',
 'Mary Gonzalez',
 'April Jackson',
 'William Hayes',
 'Meghan Holloway',
 'Amy Coleman',
 'James Green',
 'Michael Tran',
 'Joseph Cortez',
 'Anita Moss',
 'Benjamin Stokes',
 'Michael Li',
 'Alexander Rosales',
 'Katie Dawson',
 'Shelly Erickson',
 'Kathryn Turner',
 'Jacob Lee',
 'Ryan Smith',
 'Joshua Fernandez',
 'Mia Roach',
 'William Rodriguez',
 'Wanda Cruz',
 'Pamela Hall',
 'David Smith',
 'Jason Brown',
 'Chelsea Alexander',
 'Kimberly Tate',
 'Daniel Williams',
 'Terri Jacobson',
 'Paul Harris',
 'Jessica Thompson',
 'Nancy Hawkins',
 'Deborah Phillips',
 'Mark Mendoza',
 'Stephen Williamson',
 'Jennifer Strong',
 'Matthew Moore',
 'Raymond Parker',
 'Lee Evans',
 'Curtis Rodriguez',
 'Sara Morris',
 'Dawn Palmer',
 'Brianna Benson',
 'Luis Watts',
 'Cindy Brown',
 'Summer Sandoval',
 'Ashley Smith',
 'Randy Wallace',
 'Angela Simmons',
 'Sandra Haley',
 'George Morgan',
 'Melissa Ali',
 'Matthew Oliver',
 'Michael Kirk',
 'Terry Khan',
 'Kristie Elliott',
 'Joel Campbell',
 'Anthony Henderson',
 'Brent Christensen',
 'Heidi Hayes',
 'Ryan Mcbride',
 'Kyle Murillo',
 'Angela Powell',
 'Jeanette Simmons',
 'Adam Vance',
 'Kristen Murray',
 'Jessica Burnett',
 'Alex Walker',
 'Robert Phillips',
 'Elizabeth Martinez',
 'Kristina Young',
 'Sarah Morgan',
 'Cheryl Harding',
 'Keith Hunter',
 'Todd Williams',
 'James White',
 'Kyle Johnson',
 'Andrea Suarez',
 'Michael Sanchez',
 'Jaime Torres',
 'Donald Gill',
 'Austin Lee',
 'Adrian Bowman',
 'Julie Perez',
 'Debra Maxwell',
 'Bradley Phillips',
 'Sonya Simmons',
 'Eric Miller',
 'Charles Berger',
 'Mary Monroe',
 'Destiny Burns',
 'Patrick Khan',
 'Nathaniel Henson',
 'Larry Miller',
 'Timothy French',
 'Xavier Mitchell',
 'Jason Crosby',
 'Joshua Johnson',
 'Alyssa Clark',
 'Jonathan Cooper',
 'Mark Hunt',
 'Norman Moore',
 'Brian Atkins',
 'Zachary Jones',
 'Danielle Wong',
 'Patricia Lane',
 'Joshua Rose',
 'Hannah Montes',
 'Catherine Williams',
 'Michael Jenkins',
 'James Scott',
 'Evan Ballard',
 'Andrea Miller',
 'Jasmine Lynch',
 'Jennifer Fox',
 'Jared Castro',
 'Eugene Cox',
 'Wendy Wilson',
 'Debbie Smith',
 'Michael Fletcher',
 'Jay Waters',
 'Melissa Martinez',
 'Cory Howard',
 'Mitchell Hanson',
 'Corey Boyer',
 'Elizabeth Gonzalez',
 'Robert Hutchinson',
 'David Hernandez',
 'Tammy Jordan',
 'Denise Johnson',
 'Brandi Copeland',
 'Evan Marshall',
 'Gregory Long',
 'Kristen Underwood',
 'Walter French',
 'Edwin Thompson',
 'Edward Rivera',
 'Brandon Wilson',
 'Alejandra Todd',
 'Dana Hoffman',
 'David Howard',
 'Ashley Caldwell',
 'Cindy Horn',
 'Kevin Armstrong',
 'Stacey Porter',
 'Patrick Hunt',
 'David White',
 'Tammy Black',
 'Joanna Williams',
 'Becky Moran',
 'Brenda Smith',
 'Gabrielle Webb',
 'Jared Campbell',
 'Ryan Jenkins',
 'Thomas Shepard',
 'Jeremiah Boyd',
 'Matthew White',
 'Christina Anderson',
 'Edward Olson',
 'Emily Bryant',
 'Amy Guzman',
 'Kathleen Owens',
 'John Davila',
 'Nicole King',
 'Jason Villarreal',
 'Matthew Washington',
 'Peter Simpson',
 'Cristian Espinoza',
 'Steven Fry',
 'David Miller',
 'Tamara Hernandez',
 'Jordan Lewis',
 'Carol Anderson',
 'Michael Moreno',
 'Nicholas Logan',
 'Paul Anderson',
 'Jason Young',
 'Wesley Martin',
 'Karen Wall',
 'Tara Parker',
 'Michael Reyes',
 'Amy Henderson',
 'Jessica Reed',
 'Joseph Miranda',
 'Mackenzie Jones',
 'Jon Espinoza',
 'Kelly Medina',
 'Jason Rubio',
 'Jennifer Munoz',
 'Christopher Warner',
 'Vincent Thomas',
 'Andrew Young',
 'David Jenkins',
 'Daniel Stephens',
 'Elizabeth Lewis',
 'Aaron Moore',
 'Lisa Hogan',
 'Shawn Williams',
 'Michele Dickerson',
 'Alicia Martinez',
 'Timothy Anderson',
 'Sierra Jackson',
 'Sharon Taylor',
 'Jeffrey Smith',
 'Mark Taylor',
 'Christina Ross',
 'Judy Hall',
 'Jennifer Fox',
 'Kenneth Moran',
 'Gerald Ferguson',
 'Albert Carter',
 'Michael Reilly',
 'Kathleen Schwartz',
 'Stacey Harris',
 'Paula Lee',
 'Adrian Black',
 'Rita Moreno',
 'Jason Perry',
 'Scott Ortiz',
 'Randy Mueller',
 'Samantha Anderson',
 'Phillip Brown',
 'Christina Kerr',
 'Derrick Hill',
 'Nathan Bond',
 'Marie Wilson',
 'Caitlin Jones',
 'Barbara Campbell',
 'Katie Gonzales',
 'Elijah Hall',
 'James Sanders',
 'Nicholas Martinez',
 'Maria Mack',
 'Mary Mason',
 'Tiffany Campbell',
 'Raymond Stone',
 'Dominique Henderson',
 'Martin Williams',
 'Hannah Parker',
 'Susan Webb',
 'Rachel Johnson',
 'Darren Davis',
 'Tim Carr',
 'Jesus Ryan',
 'John Hays',
 'Scott Stewart',
 'Alexandra Roberts',
 'Amanda Norman',
 'James Moody',
 'Brenda Jones',
 'Kathy Smith',
 'Raymond Clark',
 'Ashley Martin',
 'Tamara Flowers',
 'Cesar Hanson',
 'Ross Strickland',
 'Randy Moore',
 'Henry Andersen',
 'Paul Martin',
 'Sarah Stanley',
 'Jordan Lewis',
 'Ashley Richardson',
 'Michael Brown',
 'Jason Davis',
 'Wendy Mcclain',
 'Troy Williams',
 'Carrie Alexander',
 'Kyle Ware',
 'Michael Robinson',
 'Roger Wilson',
 'Teresa Fuller',
 'Craig Silva',
 'Duane Thomas',
 'Jon Crosby',
 'Jon Steele',
 'Daniel Shaw',
 'Gwendolyn Williams',
 'Angela Hess',
 'Cameron Arnold',
 'Janice Garcia',
 'Anne Bullock',
 'Katie Moody',
 'Kayla Rivas',
 'Danny Pearson',
 'Billy Robles',
 'Michelle Delgado',
 'Cindy Harrison',
 'John Dickerson',
 'Tina Armstrong',
 'Alex Franklin',
 'Ryan King',
 'Christine Guzman',
 'Helen Malone',
 'Benjamin Carpenter',
 'Jessica Dunn',
 'Jessica Kaiser',
 'Brandon Black',
 'David Hernandez',
 'Brenda Turner',
 'Katherine Black',
 'Larry Santos',
 'Zachary Dominguez',
 'Tanya Fernandez',
 'Joseph Nichols',
 'Rebecca Martinez',
 'Traci Ramirez',
 'Ryan Bauer',
 'Joshua Williams',
 'Devon Foley',
 'Heidi Walter',
 'Mario Nguyen',
 'Jordan Hernandez',
 'William Miller',
 'Nicholas Chung',
 'Christine Cooley',
 'Carrie Nelson',
 'Crystal Fowler',
 'Lori Taylor',
 'Michael Stevenson',
 'Matthew Holmes',
 'David Walls',
 'Megan Martin',
 'Karen Peterson',
 'Kristen Wallace',
 'Mark Peterson',
 'Jason Jones',
 'Keith Barber',
 'Patrick Green',
 'Antonio Lopez',
 'Travis Peterson',
 'Gabriel Hunter',
 'Amanda Ross',
 'Samuel Thompson',
 'Robert Bowman',
 'Cynthia Cox',
 'Brittany Miller',
 'Eric Torres',
 'Sandra Calhoun',
 'Jacob Bailey',
 'Jessica Harris',
 'Molly Carr',
 'Keith Davis',
 'Adriana Wade',
 ...]

In [20]:
# Create a new list and use it for the for loop to iterate through the list.
students_fixed = []

# Use an if statement to check the length of the name.

# If the name is greater than or equal to 3, add the name to the list.

for student in student_names:
    if len(student.split()) >= 3:
        students_fixed.append(student)
        
# Get the length of the students' names that are greater than or equal to 3.
len(students_fixed)

151

In [21]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [22]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()

student_count

39170

In [23]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [24]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [25]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [26]:
# Calculate the average math score.
average_math_score  = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [27]:
# determine the passing grade
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

passing_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [28]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [29]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [30]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

passing_math_count
passing_reading_count

33610

In [31]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed math.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [32]:
# Calculate the students who passed both math and reading.

passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [33]:
# Calculate the number of students who passed both math and reading.

overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [34]:
# Calculate the overall passing percentage.

overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [35]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [36]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [37]:
passing_math_count = 29370
total_student_count = 39170

In [38]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [39]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [40]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [41]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [42]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [43]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [44]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [45]:
# Calculate the total student count.
per_school_count = school_data_df["size"]
per_school_count

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [46]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [47]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [48]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [49]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [52]:
# Calculate the math scores.

student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [53]:
# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [55]:
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [56]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [57]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [58]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [62]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [63]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [65]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [66]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [67]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [68]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
per_school_summary_df = per_school_summary_df[new_column_order]

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [69]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [70]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [73]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]
ninth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130

In [76]:
# Group each school Series by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]
ninth_grade_math_scores
eleventh_grade_math_scores

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [78]:
# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [79]:
# Combine each Series for average math scores by school into single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

In [80]:
# Combine each Series for average reading scores by school into single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [82]:
 # Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

  # Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

  # Remove the index name.
math_scores_by_grade.index.name = None
  # Display the DataFrame.
math_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [83]:
# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

  # Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

  # Remove the index name.
reading_scores_by_grade.index.name = None
  # Display the data frame.
reading_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0